[data-page="aldevindiv_sol_add"][data-itemid="add_header"] {
  font-weight: bold;
  font-size: 25px;
  font-family: "Roboto";
}
[data-page="aldevindiv_sol_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


