[data-cellid="grid_footcell_field"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field1"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field1"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field2"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field2"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field3"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field3"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field4"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field4"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field5"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field5"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field6"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field6"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field7"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field7"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field8"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field8"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field9"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field9"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field10"][data-page="aldevindiv_egresos_list"][data-cellid="grid_footcell_field10"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="aldevindiv_egresos_list"][data-cellid="grid_headcell_checkbox"][data-page="aldevindiv_egresos_list"][data-cellid="grid_headcell_checkbox"][data-page="aldevindiv_egresos_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="aldevindiv_egresos_list"][data-cellid="grid_headcell_icons"][data-page="aldevindiv_egresos_list"][data-cellid="grid_headcell_icons"][data-page="aldevindiv_egresos_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="aldevindiv_egresos_list"][data-cellid="grid_cell_icons"][data-page="aldevindiv_egresos_list"][data-cellid="grid_cell_icons"][data-page="aldevindiv_egresos_list"] {
  white-space: nowrap;
}
[data-page="aldevindiv_egresos_list"][data-itemid="simple_grid_field4"] {
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto";
}
[data-page="aldevindiv_egresos_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


