[data-cellid="grid_footcell_field"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field1"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field1"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field2"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field2"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field3"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field3"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field4"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field4"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field5"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field5"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field6"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_footcell_field6"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_headcell_checkbox"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_headcell_checkbox"][data-page="almovconsdia_ingresos_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_headcell_icons"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_headcell_icons"][data-page="almovconsdia_ingresos_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_cell_icons"][data-page="almovconsdia_ingresos_list"][data-cellid="grid_cell_icons"][data-page="almovconsdia_ingresos_list"] {
  white-space: nowrap;
}
[data-page="almovconsdia_ingresos_list"][data-itemid="grid_field_totals"] {
  font-weight: bold;
}
[data-page="almovconsdia_ingresos_list"][data-itemid="grid_field_totals1"] {
  font-weight: bold;
}
[data-page="almovconsdia_ingresos_list"][data-itemid="grid_field_totals2"] {
  font-weight: bold;
}
[data-page="almovconsdia_ingresos_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


