[data-cellid="grid_footcell_field"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field1"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field1"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field2"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field2"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field3"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field3"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field4"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field4"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field5"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field5"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field6"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field6"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field7"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field7"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field8"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field8"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field9"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_footcell_field9"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_headcell_checkbox"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_headcell_checkbox"][data-page="almovdevdia_ingresos_d_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_headcell_icons"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_headcell_icons"][data-page="almovdevdia_ingresos_d_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_cell_icons"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_cell_icons"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_cell_details"][data-page="almovdevdia_ingresos_d_list"][data-cellid="grid_cell_details"][data-page="almovdevdia_ingresos_d_list"] {
  white-space: nowrap;
}
[data-page="almovdevdia_ingresos_d_list"][data-itemid="grid_alldetails_link"] > a {
  font-size: 15px;
  font-family: "Roboto";
}
[data-page="almovdevdia_ingresos_d_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


