<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel aldevindiv_traslados view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_rad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_rad}  r-vertical-field" data-fieldname="sol_rad" data-signal-error-for="sol_rad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="sol_rad" data-fieldname="sol_rad" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_rad}">
		
		{BEGIN sol_rad_label}{$label aldevindiv_traslados sol_rad }{END sol_rad_label}
	</label>
	<div class="" >
		{$sol_rad_value}	</div>

		</div>
		
</div>


{END sol_rad_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_fecha}  r-vertical-field" data-fieldname="sol_fecha" data-signal-error-for="sol_fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="sol_fecha" data-fieldname="sol_fecha" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_fecha}">
		
		{BEGIN sol_fecha_label}{$label aldevindiv_traslados sol_fecha }{END sol_fecha_label}
	</label>
	<div class="" >
		{$sol_fecha_value}	</div>

		</div>
		
</div>


{END sol_fecha_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_estado}  r-vertical-field" data-fieldname="sol_estado" data-signal-error-for="sol_estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="sol_estado" data-fieldname="sol_estado" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_estado}">
		
		{BEGIN sol_estado_label}{$label aldevindiv_traslados sol_estado }{END sol_estado_label}
	</label>
	<div class="" >
		{$sol_estado_value}	</div>

		</div>
		
</div>


{END sol_estado_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_type}  r-vertical-field" data-fieldname="sol_type" data-signal-error-for="sol_type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="sol_type" data-fieldname="sol_type" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_type}">
		
		{BEGIN sol_type_label}{$label aldevindiv_traslados sol_type }{END sol_type_label}
	</label>
	<div class="" >
		{$sol_type_value}	</div>

		</div>
		
</div>


{END sol_type_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_userfr_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_userfr}  r-vertical-field" data-fieldname="sol_userfr" data-signal-error-for="sol_userfr{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="sol_userfr" data-fieldname="sol_userfr" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_userfr}">
		
		{BEGIN sol_userfr_label}{$label aldevindiv_traslados sol_userfr }{END sol_userfr_label}
	</label>
	<div class="" >
		{$sol_userfr_value}	</div>

		</div>
		
</div>


{END sol_userfr_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_mailnot_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_mailnot}  r-vertical-field" data-fieldname="sol_mailnot" data-signal-error-for="sol_mailnot{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="sol_mailnot" data-fieldname="sol_mailnot" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_mailnot}">
		
		{BEGIN sol_mailnot_label}{$label aldevindiv_traslados sol_mailnot }{END sol_mailnot_label}
	</label>
	<div class="" >
		{$sol_mailnot_value}	</div>

		</div>
		
</div>


{END sol_mailnot_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_userto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_userto}  r-vertical-field" data-fieldname="sol_userto" data-signal-error-for="sol_userto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="sol_userto" data-fieldname="sol_userto" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_userto}">
		
		{BEGIN sol_userto_label}{$label aldevindiv_traslados sol_userto }{END sol_userto_label}
	</label>
	<div class="" >
		{$sol_userto_value}	</div>

		</div>
		
</div>


{END sol_userto_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
		
							

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c14}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_obs_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_obs}  r-vertical-field" data-fieldname="sol_obs" data-signal-error-for="sol_obs{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="sol_obs" data-fieldname="sol_obs" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_obs}">
		
		{BEGIN sol_obs_label}{$label aldevindiv_traslados sol_obs }{END sol_obs_label}
	</label>
	<div class="" >
		{$sol_obs_value}	</div>

		</div>
		
</div>


{END sol_obs_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN username_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_username_id}  r-vertical-field" data-fieldname="username_id" data-signal-error-for="username_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="username_id" data-fieldname="username_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_username_id}">
		
		{BEGIN username_id_label}{$label aldevindiv_traslados username_id }{END username_id_label}
	</label>
	<div class="" >
		{$username_id_value}	</div>

		</div>
		
</div>


{END username_id_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
			 
																

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN usr_username_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_usr_username}  r-vertical-field" data-fieldname="usr_username" data-signal-error-for="usr_username{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="usr_username" data-fieldname="usr_username" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_usr_username}">
		
		{BEGIN usr_username_label}{$label aldevindiv_traslados usr_username }{END usr_username_label}
	</label>
	<div class="" >
		{$usr_username_value}	</div>

		</div>
		
</div>


{END usr_username_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="aldevindiv_traslados_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
