<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" data-page="aldevindiv_egresos_add" >{$pagetitlelabel aldevindiv_egresos add}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}" data-page="aldevindiv_egresos_add">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="false" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Información del responsable			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse  {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section" id="form_section_{$pageid}" data-makeup="leftbar" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doclasedoc_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doclasedoc_id_fk}  r-vertical-field" 
	data-signal-error-for="doclasedoc_id_fk{$id}" {$required_attr_doclasedoc_id_fk}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="doclasedoc_id_fk" data-fieldname="doclasedoc_id_fk" >

	<label class="r-edit-label control-label" for="{$labelfor_doclasedoc_id_fk}">
		{BEGIN doclasedoc_id_fk_label}{$label aldevindiv_egresos doclasedoc_id_fk }{END doclasedoc_id_fk_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$doclasedoc_id_fk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="doclasedoc_id_fk" {$tooltipAttr aldevindiv_egresos doclasedoc_id_fk } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos doclasedoc_id_fk }		</div>
	</div>
</div>


{END doclasedoc_id_fk_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_almacen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_almacen}  r-vertical-field" 
	data-signal-error-for="di_almacen{$id}" {$required_attr_di_almacen}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="di_almacen" data-fieldname="di_almacen" >

	<label class="r-edit-label control-label" for="{$labelfor_di_almacen}">
		{BEGIN di_almacen_label}{$label aldevindiv_egresos di_almacen }{END di_almacen_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_almacen_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_almacen" {$tooltipAttr aldevindiv_egresos di_almacen } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_almacen }		</div>
	</div>
</div>


{END di_almacen_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_funcionario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_funcionario}  r-vertical-field" 
	data-signal-error-for="di_funcionario{$id}" {$required_attr_di_funcionario}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="di_funcionario" data-fieldname="di_funcionario" >

	<label class="r-edit-label control-label" for="{$labelfor_di_funcionario}">
		{BEGIN di_funcionario_label}{$label aldevindiv_egresos di_funcionario }{END di_funcionario_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_funcionario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_funcionario" {$tooltipAttr aldevindiv_egresos di_funcionario } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_funcionario }		</div>
	</div>
</div>


{END di_funcionario_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
		
							

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c3}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_depsup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_depsup}  r-vertical-field" 
	data-signal-error-for="di_depsup{$id}" {$required_attr_di_depsup}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="di_depsup" data-fieldname="di_depsup" >

	<label class="r-edit-label control-label" for="{$labelfor_di_depsup}">
		{BEGIN di_depsup_label}{$label aldevindiv_egresos di_depsup }{END di_depsup_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_depsup_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_depsup" {$tooltipAttr aldevindiv_egresos di_depsup } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_depsup }		</div>
	</div>
</div>


{END di_depsup_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
																

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_dep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_dep}  r-vertical-field" 
	data-signal-error-for="di_dep{$id}" {$required_attr_di_dep}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="di_dep" data-fieldname="di_dep" >

	<label class="r-edit-label control-label" for="{$labelfor_di_dep}">
		{BEGIN di_dep_label}{$label aldevindiv_egresos di_dep }{END di_dep_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_dep_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_dep" {$tooltipAttr aldevindiv_egresos di_dep } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_dep }		</div>
	</div>
</div>


{END di_dep_fieldblock}
	
								</td>
			{END cellblock_section_c7}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}" data-page="aldevindiv_egresos_add">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} 
			data-toggle="collapse"  

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Información del elemento			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="leftbar" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN almovinddia_id_fk_fieldblock}
	<div class="r-edit-label" data-signal-error-for="almovinddia_id_fk{$id}" data-itemtype="edit_field_label" data-itemid="edit_field_label" {$item_edit_field_label} data-pageid="{$pageid}" data-field="almovinddia_id_fk" data-fieldname="almovinddia_id_fk" data-before-same-field {$required_attr_almovinddia_id_fk}>
		<label class="r-edit-label control-label" for="{$labelfor_almovinddia_id_fk}">
			{BEGIN almovinddia_id_fk_label}{$label aldevindiv_egresos almovinddia_id_fk }{END almovinddia_id_fk_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END almovinddia_id_fk_fieldblock}
											{BEGIN almovinddia_id_fk_fieldblock}
	<div class="r-edit-field" data-signal-error-for="almovinddia_id_fk{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="almovinddia_id_fk" data-fieldname="almovinddia_id_fk" data-before-same-field {$required_attr_almovinddia_id_fk}>
		{$almovinddia_id_fk_editcontrol}	</div>
{END almovinddia_id_fk_fieldblock}
											{BEGIN almovinddia_id_fk_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="almovinddia_id_fk{$id}" data-itemtype="edit_field_tooltip" data-itemid="edit_field_tooltip" {$item_edit_field_tooltip} data-pageid="{$pageid}" data-field="almovinddia_id_fk" data-fieldname="almovinddia_id_fk" >
		<div data-helpfor="almovinddia_id_fk" {$tooltipAttr aldevindiv_egresos almovinddia_id_fk } >
			<div class="text-muted">{$tooltip aldevindiv_egresos almovinddia_id_fk }</div>
		</div>
	</div>
{END almovinddia_id_fk_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN di_fecha_asigacion_fieldblock}
	<div class="r-edit-label" data-signal-error-for="di_fecha_asigacion{$id}" data-itemtype="edit_field_label" data-itemid="edit_field_label1" {$item_edit_field_label1} data-pageid="{$pageid}" data-field="di_fecha_asigacion" data-fieldname="di_fecha_asigacion" data-before-same-field {$required_attr_di_fecha_asigacion}>
		<label class="r-edit-label control-label" for="{$labelfor_di_fecha_asigacion}">
			{BEGIN di_fecha_asigacion_label}{$label aldevindiv_egresos di_fecha_asigacion }{END di_fecha_asigacion_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END di_fecha_asigacion_fieldblock}
											{BEGIN di_fecha_asigacion_fieldblock}
	<div class="r-edit-field" data-signal-error-for="di_fecha_asigacion{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="di_fecha_asigacion" data-fieldname="di_fecha_asigacion" data-before-same-field {$required_attr_di_fecha_asigacion}>
		{$di_fecha_asigacion_editcontrol}	</div>
{END di_fecha_asigacion_fieldblock}
											{BEGIN di_fecha_asigacion_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="di_fecha_asigacion{$id}" data-itemtype="edit_field_tooltip" data-itemid="edit_field_tooltip1" {$item_edit_field_tooltip1} data-pageid="{$pageid}" data-field="di_fecha_asigacion" data-fieldname="di_fecha_asigacion" >
		<div data-helpfor="di_fecha_asigacion" {$tooltipAttr aldevindiv_egresos di_fecha_asigacion } >
			<div class="text-muted">{$tooltip aldevindiv_egresos di_fecha_asigacion }</div>
		</div>
	</div>
{END di_fecha_asigacion_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
	 
	 
														<tr {$row_section1_1} >
										

{BEGIN cellblock_section1_c10}
<td
	{$cell_section1_c10}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="section1_c10" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN almovdevdia_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_almovdevdia_id_fk}  r-vertical-field" 
	data-signal-error-for="almovdevdia_id_fk{$id}" {$required_attr_almovdevdia_id_fk}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="almovdevdia_id_fk" data-fieldname="almovdevdia_id_fk" >

	<label class="r-edit-label control-label" for="{$labelfor_almovdevdia_id_fk}">
		{BEGIN almovdevdia_id_fk_label}{$label aldevindiv_egresos almovdevdia_id_fk }{END almovdevdia_id_fk_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$almovdevdia_id_fk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="almovdevdia_id_fk" {$tooltipAttr aldevindiv_egresos almovdevdia_id_fk } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos almovdevdia_id_fk }		</div>
	</div>
</div>


{END almovdevdia_id_fk_fieldblock}
	
								</td>
			{END cellblock_section1_c10}
								</tr>
	 
	 
														<tr {$row_section1_2} >
										

{BEGIN cellblock_section1_c8}
<td
	{$cell_section1_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_nroplaca_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroplaca}  r-vertical-field" 
	data-signal-error-for="di_nroplaca{$id}" {$required_attr_di_nroplaca}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="di_nroplaca" data-fieldname="di_nroplaca" >

	<label class="r-edit-label control-label" for="{$labelfor_di_nroplaca}">
		{BEGIN di_nroplaca_label}{$label aldevindiv_egresos di_nroplaca }{END di_nroplaca_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_nroplaca_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_nroplaca" {$tooltipAttr aldevindiv_egresos di_nroplaca } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_nroplaca }		</div>
	</div>
</div>


{END di_nroplaca_fieldblock}
	
								</td>
			{END cellblock_section1_c8}
			 
																

{BEGIN cellblock_section1_c9}
<td
	{$cell_section1_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_nroserie_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroserie}  r-vertical-field" 
	data-signal-error-for="di_nroserie{$id}" {$required_attr_di_nroserie}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="di_nroserie" data-fieldname="di_nroserie" >

	<label class="r-edit-label control-label" for="{$labelfor_di_nroserie}">
		{BEGIN di_nroserie_label}{$label aldevindiv_egresos di_nroserie }{END di_nroserie_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_nroserie_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_nroserie" {$tooltipAttr aldevindiv_egresos di_nroserie } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_nroserie }		</div>
	</div>
</div>


{END di_nroserie_fieldblock}
	
								</td>
			{END cellblock_section1_c9}
								</tr>
	 
	 
														<tr {$row_section1_3} >
										

{BEGIN cellblock_section1_c6}
<td
	{$cell_section1_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_cuenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_cuenta}  r-vertical-field" 
	data-signal-error-for="di_cuenta{$id}" {$required_attr_di_cuenta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="di_cuenta" data-fieldname="di_cuenta" >

	<label class="r-edit-label control-label" for="{$labelfor_di_cuenta}">
		{BEGIN di_cuenta_label}{$label aldevindiv_egresos di_cuenta }{END di_cuenta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_cuenta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_cuenta" {$tooltipAttr aldevindiv_egresos di_cuenta } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_cuenta }		</div>
	</div>
</div>


{END di_cuenta_fieldblock}
	
								</td>
			{END cellblock_section1_c6}
			 
																

{BEGIN cellblock_section1_c7}
<td
	{$cell_section1_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_codelem_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_codelem}  r-vertical-field" 
	data-signal-error-for="di_codelem{$id}" {$required_attr_di_codelem}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="di_codelem" data-fieldname="di_codelem" >

	<label class="r-edit-label control-label" for="{$labelfor_di_codelem}">
		{BEGIN di_codelem_label}{$label aldevindiv_egresos di_codelem }{END di_codelem_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_codelem_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_codelem" {$tooltipAttr aldevindiv_egresos di_codelem } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_codelem }		</div>
	</div>
</div>


{END di_codelem_fieldblock}
	
								</td>
			{END cellblock_section1_c7}
								</tr>
	 
	 
														<tr {$row_section1_4} >
										

{BEGIN cellblock_section1_c4}
<td
	{$cell_section1_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_fechacompra_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_fechacompra}  r-vertical-field" 
	data-signal-error-for="di_fechacompra{$id}" {$required_attr_di_fechacompra}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="di_fechacompra" data-fieldname="di_fechacompra" >

	<label class="r-edit-label control-label" for="{$labelfor_di_fechacompra}">
		{BEGIN di_fechacompra_label}{$label aldevindiv_egresos di_fechacompra }{END di_fechacompra_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_fechacompra_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_fechacompra" {$tooltipAttr aldevindiv_egresos di_fechacompra } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_fechacompra }		</div>
	</div>
</div>


{END di_fechacompra_fieldblock}
	
								</td>
			{END cellblock_section1_c4}
			 
																

{BEGIN cellblock_section1_c5}
<td
	{$cell_section1_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN di_valorcompra_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_di_valorcompra}  r-vertical-field" 
	data-signal-error-for="di_valorcompra{$id}" {$required_attr_di_valorcompra}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="di_valorcompra" data-fieldname="di_valorcompra" >

	<label class="r-edit-label control-label" for="{$labelfor_di_valorcompra}">
		{BEGIN di_valorcompra_label}{$label aldevindiv_egresos di_valorcompra }{END di_valorcompra_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$di_valorcompra_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="di_valorcompra" {$tooltipAttr aldevindiv_egresos di_valorcompra } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos di_valorcompra }		</div>
	</div>
</div>


{END di_valorcompra_fieldblock}
	
								</td>
			{END cellblock_section1_c5}
								</tr>
	 
	 
														<tr {$row_section1_5} >
										

{BEGIN cellblock_section1_c2}
<td
	{$cell_section1_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cod_cta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cod_cta}  r-vertical-field" 
	data-signal-error-for="cod_cta{$id}" {$required_attr_cod_cta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cod_cta" data-fieldname="cod_cta" >

	<label class="r-edit-label control-label" for="{$labelfor_cod_cta}">
		{BEGIN cod_cta_label}{$label aldevindiv_egresos cod_cta }{END cod_cta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cod_cta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cod_cta" {$tooltipAttr aldevindiv_egresos cod_cta } >
		<div class="text-muted" >
		{$tooltip aldevindiv_egresos cod_cta }		</div>
	</div>
</div>


{END cod_cta_fieldblock}
	
								</td>
			{END cellblock_section1_c2}
			 
		
							

{BEGIN cellblock_section1_c3}
<td
	{$cell_section1_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c3}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
	
				{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
