<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" data-page="aldevindiv_sol_add" >{$pagetitlelabel aldevindiv_sol add}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_rad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_rad}  r-vertical-field" 
	data-signal-error-for="sol_rad{$id}" {$required_attr_sol_rad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="sol_rad" data-fieldname="sol_rad" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_rad}">
		{BEGIN sol_rad_label}{$label aldevindiv_sol sol_rad }{END sol_rad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_rad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_rad" {$tooltipAttr aldevindiv_sol sol_rad } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_rad }		</div>
	</div>
</div>


{END sol_rad_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_userfr_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_userfr}  r-vertical-field" 
	data-signal-error-for="sol_userfr{$id}" {$required_attr_sol_userfr}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="sol_userfr" data-fieldname="sol_userfr" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_userfr}">
		{BEGIN sol_userfr_label}{$label aldevindiv_sol sol_userfr }{END sol_userfr_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_userfr_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_userfr" {$tooltipAttr aldevindiv_sol sol_userfr } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_userfr }		</div>
	</div>
</div>


{END sol_userfr_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_userid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_userid}  r-vertical-field" 
	data-signal-error-for="sol_userid{$id}" {$required_attr_sol_userid}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="sol_userid" data-fieldname="sol_userid" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_userid}">
		{BEGIN sol_userid_label}{$label aldevindiv_sol sol_userid }{END sol_userid_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_userid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_userid" {$tooltipAttr aldevindiv_sol sol_userid } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_userid }		</div>
	</div>
</div>


{END sol_userid_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_type}  r-vertical-field" 
	data-signal-error-for="sol_type{$id}" {$required_attr_sol_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="sol_type" data-fieldname="sol_type" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_type}">
		{BEGIN sol_type_label}{$label aldevindiv_sol sol_type }{END sol_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_type" {$tooltipAttr aldevindiv_sol sol_type } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_type }		</div>
	</div>
</div>


{END sol_type_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
		
							

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c7}
			 
		
							

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c20}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_userto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_userto}  r-vertical-field" 
	data-signal-error-for="sol_userto{$id}" {$required_attr_sol_userto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="sol_userto" data-fieldname="sol_userto" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_userto}">
		{BEGIN sol_userto_label}{$label aldevindiv_sol sol_userto }{END sol_userto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_userto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_userto" {$tooltipAttr aldevindiv_sol sol_userto } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_userto }		</div>
	</div>
</div>


{END sol_userto_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_mailnot_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_mailnot}  r-vertical-field" 
	data-signal-error-for="sol_mailnot{$id}" {$required_attr_sol_mailnot}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="sol_mailnot" data-fieldname="sol_mailnot" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_mailnot}">
		{BEGIN sol_mailnot_label}{$label aldevindiv_sol sol_mailnot }{END sol_mailnot_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_mailnot_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_mailnot" {$tooltipAttr aldevindiv_sol sol_mailnot } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_mailnot }		</div>
	</div>
</div>


{END sol_mailnot_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
			 
		
							

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c21}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_obs_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_obs}  r-vertical-field" 
	data-signal-error-for="sol_obs{$id}" {$required_attr_sol_obs}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="sol_obs" data-fieldname="sol_obs" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_obs}">
		{BEGIN sol_obs_label}{$label aldevindiv_sol sol_obs }{END sol_obs_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_obs_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_obs" {$tooltipAttr aldevindiv_sol sol_obs } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_obs }		</div>
	</div>
</div>


{END sol_obs_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
		
							

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c22}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_estado}  r-vertical-field" 
	data-signal-error-for="sol_estado{$id}" {$required_attr_sol_estado}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="sol_estado" data-fieldname="sol_estado" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_estado}">
		{BEGIN sol_estado_label}{$label aldevindiv_sol sol_estado }{END sol_estado_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_estado" {$tooltipAttr aldevindiv_sol sol_estado } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_estado }		</div>
	</div>
</div>


{END sol_estado_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
			 
																

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_fecha}  r-vertical-field" 
	data-signal-error-for="sol_fecha{$id}" {$required_attr_sol_fecha}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="sol_fecha" data-fieldname="sol_fecha" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_fecha}">
		{BEGIN sol_fecha_label}{$label aldevindiv_sol sol_fecha }{END sol_fecha_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_fecha_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_fecha" {$tooltipAttr aldevindiv_sol sol_fecha } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sol_fecha }		</div>
	</div>
</div>


{END sol_fecha_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
		
							

{BEGIN cellblock_grid_c23}
<td
	{$cell_grid_c23}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c23" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c23}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sign_a_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_a_user}  r-vertical-field" 
	data-signal-error-for="sign_a_user{$id}" {$required_attr_sign_a_user}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="sign_a_user" data-fieldname="sign_a_user" >

	<label class="r-edit-label control-label" for="{$labelfor_sign_a_user}">
		{BEGIN sign_a_user_label}{$label aldevindiv_sol sign_a_user }{END sign_a_user_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sign_a_user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sign_a_user" {$tooltipAttr aldevindiv_sol sign_a_user } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sign_a_user }		</div>
	</div>
</div>


{END sign_a_user_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sign_a_documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_a_documento}  r-vertical-field" 
	data-signal-error-for="sign_a_documento{$id}" {$required_attr_sign_a_documento}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="sign_a_documento" data-fieldname="sign_a_documento" >

	<label class="r-edit-label control-label" for="{$labelfor_sign_a_documento}">
		{BEGIN sign_a_documento_label}{$label aldevindiv_sol sign_a_documento }{END sign_a_documento_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sign_a_documento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sign_a_documento" {$tooltipAttr aldevindiv_sol sign_a_documento } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sign_a_documento }		</div>
	</div>
</div>


{END sign_a_documento_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
																

{BEGIN cellblock_grid_c24}
<td
	{$cell_grid_c24}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c24" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sign_a_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_a_email}  r-vertical-field" 
	data-signal-error-for="sign_a_email{$id}" {$required_attr_sign_a_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="sign_a_email" data-fieldname="sign_a_email" >

	<label class="r-edit-label control-label" for="{$labelfor_sign_a_email}">
		{BEGIN sign_a_email_label}{$label aldevindiv_sol sign_a_email }{END sign_a_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sign_a_email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sign_a_email" {$tooltipAttr aldevindiv_sol sign_a_email } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sign_a_email }		</div>
	</div>
</div>


{END sign_a_email_fieldblock}
	
								</td>
			{END cellblock_grid_c24}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sign_b_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_b_user}  r-vertical-field" 
	data-signal-error-for="sign_b_user{$id}" {$required_attr_sign_b_user}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="sign_b_user" data-fieldname="sign_b_user" >

	<label class="r-edit-label control-label" for="{$labelfor_sign_b_user}">
		{BEGIN sign_b_user_label}{$label aldevindiv_sol sign_b_user }{END sign_b_user_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sign_b_user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sign_b_user" {$tooltipAttr aldevindiv_sol sign_b_user } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sign_b_user }		</div>
	</div>
</div>


{END sign_b_user_fieldblock}
	
								</td>
			{END cellblock_grid_c17}
			 
																

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sign_b_documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_b_documento}  r-vertical-field" 
	data-signal-error-for="sign_b_documento{$id}" {$required_attr_sign_b_documento}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="sign_b_documento" data-fieldname="sign_b_documento" >

	<label class="r-edit-label control-label" for="{$labelfor_sign_b_documento}">
		{BEGIN sign_b_documento_label}{$label aldevindiv_sol sign_b_documento }{END sign_b_documento_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sign_b_documento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sign_b_documento" {$tooltipAttr aldevindiv_sol sign_b_documento } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sign_b_documento }		</div>
	</div>
</div>


{END sign_b_documento_fieldblock}
	
								</td>
			{END cellblock_grid_c18}
			 
																

{BEGIN cellblock_grid_c26}
<td
	{$cell_grid_c26}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c26" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sign_b_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_b_email}  r-vertical-field" 
	data-signal-error-for="sign_b_email{$id}" {$required_attr_sign_b_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="sign_b_email" data-fieldname="sign_b_email" >

	<label class="r-edit-label control-label" for="{$labelfor_sign_b_email}">
		{BEGIN sign_b_email_label}{$label aldevindiv_sol sign_b_email }{END sign_b_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sign_b_email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sign_b_email" {$tooltipAttr aldevindiv_sol sign_b_email } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol sign_b_email }		</div>
	</div>
</div>


{END sign_b_email_fieldblock}
	
								</td>
			{END cellblock_grid_c26}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN username_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_username_id}  r-vertical-field" 
	data-signal-error-for="username_id{$id}" {$required_attr_username_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="username_id" data-fieldname="username_id" >

	<label class="r-edit-label control-label" for="{$labelfor_username_id}">
		{BEGIN username_id_label}{$label aldevindiv_sol username_id }{END username_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$username_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="username_id" {$tooltipAttr aldevindiv_sol username_id } >
		<div class="text-muted" >
		{$tooltip aldevindiv_sol username_id }		</div>
	</div>
</div>


{END username_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
			 
		
							

{BEGIN cellblock_grid_c27}
<td
	{$cell_grid_c27}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c27" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c27}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
