<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="print" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Aldevindiv Sol Sign B.pdf" 
data-pagesize="LETTER" 
data-pagetype="print" 
{$pdflink_attrs} >
							Vista PDF			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c" data-pageid="{$pageid}"	{$cell_top_c}
	class=" r-ori-vert			col-md-12
	
">
		 
		<img src="{$file_url images/gob_mincit.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" />
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel aldevindiv_sol_sign_b print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="6"
>
						<thead>
			{BEGIN grid_header}
			
																																																							<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_rad_class}	"

			data-field="sol_rad"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_rad_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_rad" data-fieldname="sol_rad" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sol_rad }</span>
			</span>
	</span>
{END sol_rad_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_fecha_class}	"

			data-field="sol_fecha"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_fecha_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_fecha" data-fieldname="sol_fecha" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sol_fecha }</span>
			</span>
	</span>
{END sol_fecha_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_id_class}	"

			data-field="username_id"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN username_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="username_id" data-fieldname="username_id" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b username_id }</span>
			</span>
	</span>
{END username_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_estado_class}	"

			data-field="sol_estado"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_estado_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_estado" data-fieldname="sol_estado" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sol_estado }</span>
			</span>
	</span>
{END sol_estado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_type_class}	"

			data-field="sol_type"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_type_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_type" data-fieldname="sol_type" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sol_type }</span>
			</span>
	</span>
{END sol_type_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userfr_class}	"

			data-field="sol_userfr"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_userfr_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_userfr" data-fieldname="sol_userfr" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sol_userfr }</span>
			</span>
	</span>
{END sol_userfr_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userto_class}	"

			data-field="sol_userto"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_userto_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_userto" data-fieldname="sol_userto" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sol_userto }</span>
			</span>
	</span>
{END sol_userto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$transact_id_class}	"

			data-field="transact_id"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN transact_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="transact_id" data-fieldname="transact_id" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b transact_id }</span>
			</span>
	</span>
{END transact_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_class}	"

			data-field="sign_a_hash_v"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_hash_v_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_hash_v" data-fieldname="sign_a_hash_v" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_a_hash_v }</span>
			</span>
	</span>
{END sign_a_hash_v_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_date_class}	"

			data-field="sign_a_hash_v_date"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_hash_v_date_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_hash_v_date" data-fieldname="sign_a_hash_v_date" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_a_hash_v_date }</span>
			</span>
	</span>
{END sign_a_hash_v_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_ip_class}	"

			data-field="sign_a_hash_v_ip"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_hash_v_ip_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label8" {$item_grid_field_label8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_hash_v_ip" data-fieldname="sign_a_hash_v_ip" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_a_hash_v_ip }</span>
			</span>
	</span>
{END sign_a_hash_v_ip_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_class}	"

			data-field="sign_b_hash_v"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_hash_v_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label9" {$item_grid_field_label9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_hash_v" data-fieldname="sign_b_hash_v" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_b_hash_v }</span>
			</span>
	</span>
{END sign_b_hash_v_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_date_class}	"

			data-field="sign_b_hash_v_date"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_hash_v_date_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label10" {$item_grid_field_label10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_hash_v_date" data-fieldname="sign_b_hash_v_date" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_b_hash_v_date }</span>
			</span>
	</span>
{END sign_b_hash_v_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
									{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_ip_class}	"

			data-field="sign_b_hash_v_ip"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_hash_v_ip_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label11" {$item_grid_field_label11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_hash_v_ip" data-fieldname="sign_b_hash_v_ip" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_b_hash_v_ip }</span>
			</span>
	</span>
{END sign_b_hash_v_ip_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
							</tr>
																																													
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																																																												<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_rad_class}	"

			data-field="sol_rad"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_rad_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_rad" data-fieldname="sol_rad" data-default-width >
{$sol_rad_value}
</span>
{END sol_rad_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_fecha_class}	"

			data-field="sol_fecha"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_fecha_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_fecha" data-fieldname="sol_fecha" data-default-width >
{$sol_fecha_value}
</span>
{END sol_fecha_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_id_class}	"

			data-field="username_id"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN username_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="username_id" data-fieldname="username_id" data-default-width >
{$username_id_value}
</span>
{END username_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_estado_class}	"

			data-field="sol_estado"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_estado" data-fieldname="sol_estado" data-default-width >
{$sol_estado_value}
</span>
{END sol_estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_type_class}	"

			data-field="sol_type"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_type" data-fieldname="sol_type" data-default-width >
{$sol_type_value}
</span>
{END sol_type_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userfr_class}	"

			data-field="sol_userfr"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_userfr_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_userfr" data-fieldname="sol_userfr" data-default-width >
{$sol_userfr_value}
</span>
{END sol_userfr_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userto_class}	"

			data-field="sol_userto"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sol_userto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sol_userto" data-fieldname="sol_userto" data-default-width >
{$sol_userto_value}
</span>
{END sol_userto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$transact_id_class}	"

			data-field="transact_id"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN transact_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="transact_id" data-fieldname="transact_id" data-default-width >
{$transact_id_value}
</span>
{END transact_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field20}
									{BEGIN cellblock_grid_cell_field25}
	<td
	
	{$cell_grid_cell_field25}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field25}
									{BEGIN cellblock_grid_cell_field30}
	<td
	
	{$cell_grid_cell_field30}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field30" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field30}
									{BEGIN cellblock_grid_cell_field35}
	<td
	
	{$cell_grid_cell_field35}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field35" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field35}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_class}	"

			data-field="sign_a_hash_v"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_hash_v_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_hash_v" data-fieldname="sign_a_hash_v" data-default-width >
{$sign_a_hash_v_value}
</span>
{END sign_a_hash_v_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field43}
	<td
	
	{$cell_grid_cell_field43}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_date_class}	"

			data-field="sign_a_hash_v_date"
	
	data-cellId="grid_cell_field43" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_hash_v_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_hash_v_date" data-fieldname="sign_a_hash_v_date" data-default-width >
{$sign_a_hash_v_date_value}
</span>
{END sign_a_hash_v_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field43}
									{BEGIN cellblock_grid_cell_field48}
	<td
	
	{$cell_grid_cell_field48}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_ip_class}	"

			data-field="sign_a_hash_v_ip"
	
	data-cellId="grid_cell_field48" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_hash_v_ip_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field8" {$item_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_hash_v_ip" data-fieldname="sign_a_hash_v_ip" data-default-width >
{$sign_a_hash_v_ip_value}
</span>
{END sign_a_hash_v_ip_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field48}
									{BEGIN cellblock_grid_cell_field53}
	<td
	
	{$cell_grid_cell_field53}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_class}	"

			data-field="sign_b_hash_v"
	
	data-cellId="grid_cell_field53" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_hash_v_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field9" {$item_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_hash_v" data-fieldname="sign_b_hash_v" data-default-width >
{$sign_b_hash_v_value}
</span>
{END sign_b_hash_v_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field53}
									{BEGIN cellblock_grid_cell_field58}
	<td
	
	{$cell_grid_cell_field58}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_date_class}	"

			data-field="sign_b_hash_v_date"
	
	data-cellId="grid_cell_field58" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_hash_v_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field10" {$item_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_hash_v_date" data-fieldname="sign_b_hash_v_date" data-default-width >
{$sign_b_hash_v_date_value}
</span>
{END sign_b_hash_v_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field58}
									{BEGIN cellblock_grid_cell_field63}
	<td
	
	{$cell_grid_cell_field63}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_ip_class}	"

			data-field="sign_b_hash_v_ip"
	
	data-cellId="grid_cell_field63" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_hash_v_ip_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field11" {$item_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_hash_v_ip" data-fieldname="sign_b_hash_v_ip" data-default-width >
{$sign_b_hash_v_ip_value}
</span>
{END sign_b_hash_v_ip_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field63}
							</tr>
											<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_dpreview2}
	<td
	
	{$cell_grid_cell_dpreview2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_dpreview2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_dpreview2}
									{BEGIN cellblock_grid_cell_dpreview3}
	<td
	
	{$cell_grid_cell_dpreview3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_dpreview3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_dpreview3}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field21}
	<td
	
	{$cell_grid_cell_field21}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field21}
									{BEGIN cellblock_grid_cell_field26}
	<td
	
	{$cell_grid_cell_field26}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field26}
									{BEGIN cellblock_grid_cell_field31}
	<td
	
	{$cell_grid_cell_field31}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field31" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field31}
									{BEGIN cellblock_grid_cell_field36}
	<td
	
	{$cell_grid_cell_field36}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field36" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field36}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field44}
	<td
	
	{$cell_grid_cell_field44}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field44" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field44}
									{BEGIN cellblock_grid_cell_field49}
	<td
	
	{$cell_grid_cell_field49}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field49" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field49}
									{BEGIN cellblock_grid_cell_field54}
	<td
	
	{$cell_grid_cell_field54}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field54" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field54}
									{BEGIN cellblock_grid_cell_field59}
	<td
	
	{$cell_grid_cell_field59}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field59" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field59}
									{BEGIN cellblock_grid_cell_field64}
	<td
	
	{$cell_grid_cell_field64}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field64" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field64}
							</tr>
											<tr {$rowattrs} {$row_grid_3} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_dpreview4}
	<td
	
	{$cell_grid_cell_dpreview4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_user_class}	"

			data-field="sign_a_user"
	
	data-cellId="grid_cell_dpreview4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_user_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label2" {$item_grid_field_label2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_user" data-fieldname="sign_a_user" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_a_user }</span>
			</span>
	</span>
{END sign_a_user_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_dpreview4}
									{BEGIN cellblock_grid_cell_dpreview11}
	<td
	
	{$cell_grid_cell_dpreview11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_user_class}	"

			data-field="sign_a_user"
	
	data-cellId="grid_cell_dpreview11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_user" data-fieldname="sign_a_user" data-default-width >
{$sign_a_user_value}
</span>
{END sign_a_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_dpreview11}
									{BEGIN cellblock_grid_cell_dpreview5}
	<td
	
	{$cell_grid_cell_dpreview5}
	{$recordattrs}
	class="
				 {$sign_b_user_class}	"

			data-field="sign_b_user"
	
	data-cellId="grid_cell_dpreview5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_user_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label5" {$item_grid_field_label5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_user" data-fieldname="sign_b_user" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_b_user }</span>
			</span>
	</span>
{END sign_b_user_fieldheadercolumn}

	 
		{BEGIN details_aldevindiv_sol_vinc_sign}
{$displayDetailTable_aldevindiv_sol_vinc_sign}
{END details_aldevindiv_sol_vinc_sign}
	
	</td>
	{END cellblock_grid_cell_dpreview5}
									{BEGIN cellblock_grid_cell_dpreview10}
	<td
	
	{$cell_grid_cell_dpreview10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_user_class}	"

			data-field="sign_b_user"
	
	data-cellId="grid_cell_dpreview10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field5" {$item_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_user" data-fieldname="sign_b_user" data-default-width >
{$sign_b_user_value}
</span>
{END sign_b_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_dpreview10}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field22}
	<td
	
	{$cell_grid_cell_field22}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field22}
									{BEGIN cellblock_grid_cell_field27}
	<td
	
	{$cell_grid_cell_field27}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field27}
									{BEGIN cellblock_grid_cell_field32}
	<td
	
	{$cell_grid_cell_field32}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field32" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field32}
									{BEGIN cellblock_grid_cell_field37}
	<td
	
	{$cell_grid_cell_field37}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field37" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field37}
									{BEGIN cellblock_grid_cell_field40}
	<td
	
	{$cell_grid_cell_field40}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field40" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field40}
									{BEGIN cellblock_grid_cell_field45}
	<td
	
	{$cell_grid_cell_field45}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field45" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field45}
									{BEGIN cellblock_grid_cell_field50}
	<td
	
	{$cell_grid_cell_field50}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field50" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field50}
									{BEGIN cellblock_grid_cell_field55}
	<td
	
	{$cell_grid_cell_field55}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field55" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field55}
									{BEGIN cellblock_grid_cell_field60}
	<td
	
	{$cell_grid_cell_field60}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field60" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field60}
									{BEGIN cellblock_grid_cell_field65}
	<td
	
	{$cell_grid_cell_field65}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field65" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field65}
							</tr>
											<tr {$rowattrs} {$row_grid_4} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_dpreview7}
	<td
	
	{$cell_grid_cell_dpreview7}
	{$recordattrs}
	class="
				 {$sign_a_documento_class}	"

			data-field="sign_a_documento"
	
	data-cellId="grid_cell_dpreview7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_documento_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label3" {$item_grid_field_label3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_documento" data-fieldname="sign_a_documento" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_a_documento }</span>
			</span>
	</span>
{END sign_a_documento_fieldheadercolumn}

	 
		{BEGIN sign_a_documento_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_documento" data-fieldname="sign_a_documento" data-default-width >
{$sign_a_documento_value}
</span>
{END sign_a_documento_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_dpreview7}
									{BEGIN cellblock_grid_cell_dpreview8}
	<td
	
	{$cell_grid_cell_dpreview8}
	{$recordattrs}
	class="
				 {$sign_b_documento_class}	"

			data-field="sign_b_documento"
	
	data-cellId="grid_cell_dpreview8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_documento_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label6" {$item_grid_field_label6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_documento" data-fieldname="sign_b_documento" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_b_documento }</span>
			</span>
	</span>
{END sign_b_documento_fieldheadercolumn}

	 
		{BEGIN sign_b_documento_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field6" {$item_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_documento" data-fieldname="sign_b_documento" data-default-width >
{$sign_b_documento_value}
</span>
{END sign_b_documento_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_dpreview8}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field18}
									{BEGIN cellblock_grid_cell_field23}
	<td
	
	{$cell_grid_cell_field23}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field23}
									{BEGIN cellblock_grid_cell_field28}
	<td
	
	{$cell_grid_cell_field28}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field28}
									{BEGIN cellblock_grid_cell_field33}
	<td
	
	{$cell_grid_cell_field33}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field33" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field33}
									{BEGIN cellblock_grid_cell_field38}
	<td
	
	{$cell_grid_cell_field38}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field38" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field38}
									{BEGIN cellblock_grid_cell_field41}
	<td
	
	{$cell_grid_cell_field41}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field41" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field41}
									{BEGIN cellblock_grid_cell_field46}
	<td
	
	{$cell_grid_cell_field46}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field46" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field46}
									{BEGIN cellblock_grid_cell_field51}
	<td
	
	{$cell_grid_cell_field51}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field51" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field51}
									{BEGIN cellblock_grid_cell_field56}
	<td
	
	{$cell_grid_cell_field56}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field56" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field56}
									{BEGIN cellblock_grid_cell_field61}
	<td
	
	{$cell_grid_cell_field61}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field61" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field61}
									{BEGIN cellblock_grid_cell_field66}
	<td
	
	{$cell_grid_cell_field66}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field66" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field66}
							</tr>
											<tr {$rowattrs} {$row_grid_5} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_dpreview6}
	<td
	
	{$cell_grid_cell_dpreview6}
	{$recordattrs}
	class="
				 {$sign_a_email_class}	"

			data-field="sign_a_email"
	
	data-cellId="grid_cell_dpreview6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_a_email_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label4" {$item_grid_field_label4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_email" data-fieldname="sign_a_email" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_a_email }</span>
			</span>
	</span>
{END sign_a_email_fieldheadercolumn}

	 
		{BEGIN sign_a_email_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_a_email" data-fieldname="sign_a_email" data-default-width >
{$sign_a_email_value}
</span>
{END sign_a_email_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_dpreview6}
									{BEGIN cellblock_grid_cell_dpreview9}
	<td
	
	{$cell_grid_cell_dpreview9}
	{$recordattrs}
	class="
				 {$sign_b_email_class}	"

			data-field="sign_b_email"
	
	data-cellId="grid_cell_dpreview9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sign_b_email_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label7" {$item_grid_field_label7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_email" data-fieldname="sign_b_email" 

	
	
	>
	<span class="text-label">
		<span>{$label aldevindiv_sol_sign_b sign_b_email }</span>
			</span>
	</span>
{END sign_b_email_fieldheadercolumn}

	 
		{BEGIN sign_b_email_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field7" {$item_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sign_b_email" data-fieldname="sign_b_email" data-default-width >
{$sign_b_email_value}
</span>
{END sign_b_email_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_dpreview9}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field19}
									{BEGIN cellblock_grid_cell_field24}
	<td
	
	{$cell_grid_cell_field24}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field24}
									{BEGIN cellblock_grid_cell_field29}
	<td
	
	{$cell_grid_cell_field29}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field29}
									{BEGIN cellblock_grid_cell_field34}
	<td
	
	{$cell_grid_cell_field34}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field34" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field34}
									{BEGIN cellblock_grid_cell_field39}
	<td
	
	{$cell_grid_cell_field39}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field39" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field39}
									{BEGIN cellblock_grid_cell_field42}
	<td
	
	{$cell_grid_cell_field42}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field42" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field42}
									{BEGIN cellblock_grid_cell_field47}
	<td
	
	{$cell_grid_cell_field47}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field47" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field47}
									{BEGIN cellblock_grid_cell_field52}
	<td
	
	{$cell_grid_cell_field52}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field52" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field52}
									{BEGIN cellblock_grid_cell_field57}
	<td
	
	{$cell_grid_cell_field57}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field57" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field57}
									{BEGIN cellblock_grid_cell_field62}
	<td
	
	{$cell_grid_cell_field62}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field62" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field62}
									{BEGIN cellblock_grid_cell_field67}
	<td
	
	{$cell_grid_cell_field67}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field67" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field67}
							</tr>
											<tr {$rowattrs} {$row_grid_6} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_dpreview1}
	<td
	
	{$cell_grid_cell_dpreview1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_dpreview1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_dpreview1}
							</tr>
															
											</tbody>
					{END grid_row}
													<tfoot>
			
																																																																																										<tr {$rowattrs} {$row_grid_7} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_rad_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_fecha_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_id_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_estado_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_type_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userfr_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userto_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$transact_id_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
									{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
									{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field22}
									{BEGIN cellblock_grid_footcell_field24}
	<td
	
	{$cell_grid_footcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field24}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_date_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field26}
	<td
	
	{$cell_grid_footcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_a_hash_v_ip_class}	"

	
	data-cellId="grid_footcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field26}
									{BEGIN cellblock_grid_footcell_field28}
	<td
	
	{$cell_grid_footcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_class}	"

	
	data-cellId="grid_footcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field28}
									{BEGIN cellblock_grid_footcell_field30}
	<td
	
	{$cell_grid_footcell_field30}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_date_class}	"

	
	data-cellId="grid_footcell_field30" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field30}
									{BEGIN cellblock_grid_footcell_field32}
	<td
	
	{$cell_grid_footcell_field32}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sign_b_hash_v_ip_class}	"

	
	data-cellId="grid_footcell_field32" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field32}
							</tr>
											<tr {$rowattrs} {$row_grid_8} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_rad_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_fecha_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_id_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_estado_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_type_class}	"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
									{BEGIN cellblock_grid_footcell_field21}
	<td
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userfr_class}	"

	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field21}
									{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sol_userto_class}	"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
									{BEGIN cellblock_grid_footcell_field25}
	<td
	
	{$cell_grid_footcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$transact_id_class}	"

	
	data-cellId="grid_footcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field25}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field27}
	<td
	
	{$cell_grid_footcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field27}
									{BEGIN cellblock_grid_footcell_field29}
	<td
	
	{$cell_grid_footcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field29}
									{BEGIN cellblock_grid_footcell_field31}
	<td
	
	{$cell_grid_footcell_field31}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field31" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field31}
									{BEGIN cellblock_grid_footcell_field33}
	<td
	
	{$cell_grid_footcell_field33}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field33" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="aldevindiv_sol_sign_b_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field33}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
