<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel aldevindiv_sol_vinc_adm search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN aldevindiv_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_aldevindiv_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="aldevindiv_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="aldevindiv_id_fk" data-fieldname="aldevindiv_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_aldevindiv_id_fk}">
		{$label aldevindiv_sol_vinc_adm aldevindiv_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_aldevindiv_id_fk}
	</div>
	<div class="r-search-field">
		{$aldevindiv_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$aldevindiv_id_fk_editcontrol1}
	</div>
	
</div>

{END aldevindiv_id_fk_fieldblock}
											
{BEGIN transact_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_transact_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="transact_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="transact_id_fk" data-fieldname="transact_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_transact_id_fk}">
		{$label aldevindiv_sol_vinc_adm transact_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_transact_id_fk}
	</div>
	<div class="r-search-field">
		{$transact_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$transact_id_fk_editcontrol1}
	</div>
	
</div>

{END transact_id_fk_fieldblock}
											
{BEGIN transactvinc_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_transactvinc_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="transactvinc_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="transactvinc_id" data-fieldname="transactvinc_id" >


	<label class="r-search-label control-label" for="{$labelfor_transactvinc_id}">
		{$label aldevindiv_sol_vinc_adm transactvinc_id }	</label>
	<div class="r-search-option">
		{$searchtype_transactvinc_id}
	</div>
	<div class="r-search-field">
		{$transactvinc_id_editcontrol}	</div>
	<div class="r-search-field">
		{$transactvinc_id_editcontrol1}
	</div>
	
</div>

{END transactvinc_id_fieldblock}
											
{BEGIN transactvinc_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_transactvinc_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="transactvinc_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="transactvinc_status" data-fieldname="transactvinc_status" >


	<label class="r-search-label control-label" for="{$labelfor_transactvinc_status}">
		{$label aldevindiv_sol_vinc_adm transactvinc_status }	</label>
	<div class="r-search-option">
		{$searchtype_transactvinc_status}
	</div>
	<div class="r-search-field">
		{$transactvinc_status_editcontrol}	</div>
	<div class="r-search-field">
		{$transactvinc_status_editcontrol1}
	</div>
	
</div>

{END transactvinc_status_fieldblock}
											
{BEGIN t_cuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_cuenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_cuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="t_cuenta" data-fieldname="t_cuenta" >


	<label class="r-search-label control-label" for="{$labelfor_t_cuenta}">
		{$label aldevindiv_sol_vinc_adm t_cuenta }	</label>
	<div class="r-search-option">
		{$searchtype_t_cuenta}
	</div>
	<div class="r-search-field">
		{$t_cuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$t_cuenta_editcontrol1}
	</div>
	
</div>

{END t_cuenta_fieldblock}
											
{BEGIN t_elemento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_elemento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_elemento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="t_elemento" data-fieldname="t_elemento" >


	<label class="r-search-label control-label" for="{$labelfor_t_elemento}">
		{$label aldevindiv_sol_vinc_adm t_elemento }	</label>
	<div class="r-search-option">
		{$searchtype_t_elemento}
	</div>
	<div class="r-search-field">
		{$t_elemento_editcontrol}	</div>
	<div class="r-search-field">
		{$t_elemento_editcontrol1}
	</div>
	
</div>

{END t_elemento_fieldblock}
											
{BEGIN t_fecha_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_fecha_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_fecha_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="t_fecha_compra" data-fieldname="t_fecha_compra" >


	<label class="r-search-label control-label" for="{$labelfor_t_fecha_compra}">
		{$label aldevindiv_sol_vinc_adm t_fecha_compra }	</label>
	<div class="r-search-option">
		{$searchtype_t_fecha_compra}
	</div>
	<div class="r-search-field">
		{$t_fecha_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$t_fecha_compra_editcontrol1}
	</div>
	
</div>

{END t_fecha_compra_fieldblock}
											
{BEGIN t_marca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_marca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_marca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="t_marca" data-fieldname="t_marca" >


	<label class="r-search-label control-label" for="{$labelfor_t_marca}">
		{$label aldevindiv_sol_vinc_adm t_marca }	</label>
	<div class="r-search-option">
		{$searchtype_t_marca}
	</div>
	<div class="r-search-field">
		{$t_marca_editcontrol}	</div>
	<div class="r-search-field">
		{$t_marca_editcontrol1}
	</div>
	
</div>

{END t_marca_fieldblock}
											
{BEGIN t_placa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_placa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_placa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="t_placa" data-fieldname="t_placa" >


	<label class="r-search-label control-label" for="{$labelfor_t_placa}">
		{$label aldevindiv_sol_vinc_adm t_placa }	</label>
	<div class="r-search-option">
		{$searchtype_t_placa}
	</div>
	<div class="r-search-field">
		{$t_placa_editcontrol}	</div>
	<div class="r-search-field">
		{$t_placa_editcontrol1}
	</div>
	
</div>

{END t_placa_fieldblock}
											
{BEGIN t_serie_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_serie}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_serie{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="t_serie" data-fieldname="t_serie" >


	<label class="r-search-label control-label" for="{$labelfor_t_serie}">
		{$label aldevindiv_sol_vinc_adm t_serie }	</label>
	<div class="r-search-option">
		{$searchtype_t_serie}
	</div>
	<div class="r-search-field">
		{$t_serie_editcontrol}	</div>
	<div class="r-search-field">
		{$t_serie_editcontrol1}
	</div>
	
</div>

{END t_serie_fieldblock}
											
{BEGIN t_valor_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_t_valor_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="t_valor_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="t_valor_compra" data-fieldname="t_valor_compra" >


	<label class="r-search-label control-label" for="{$labelfor_t_valor_compra}">
		{$label aldevindiv_sol_vinc_adm t_valor_compra }	</label>
	<div class="r-search-option">
		{$searchtype_t_valor_compra}
	</div>
	<div class="r-search-field">
		{$t_valor_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$t_valor_compra_editcontrol1}
	</div>
	
</div>

{END t_valor_compra_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
