<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel alelemdevolutivo_consulta view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN edcuenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_edcuenta}  r-vertical-field" data-fieldname="edcuenta" data-signal-error-for="edcuenta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="edcuenta" data-fieldname="edcuenta" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_edcuenta}">
		
		{BEGIN edcuenta_label}{$label alelemdevolutivo_consulta edcuenta }{END edcuenta_label}
	</label>
	<div class="" >
		{$edcuenta_value}	</div>

		</div>
		
</div>


{END edcuenta_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ed_codelem_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ed_codelem}  r-vertical-field" data-fieldname="ed_codelem" data-signal-error-for="ed_codelem{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="ed_codelem" data-fieldname="ed_codelem" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ed_codelem}">
		
		{BEGIN ed_codelem_label}{$label alelemdevolutivo_consulta ed_codelem }{END ed_codelem_label}
	</label>
	<div class="" >
		{$ed_codelem_value}	</div>

		</div>
		
</div>


{END ed_codelem_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ed_nomelemento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ed_nomelemento}  r-vertical-field" data-fieldname="ed_nomelemento" data-signal-error-for="ed_nomelemento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ed_nomelemento" data-fieldname="ed_nomelemento" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ed_nomelemento}">
		
		{BEGIN ed_nomelemento_label}{$label alelemdevolutivo_consulta ed_nomelemento }{END ed_nomelemento_label}
	</label>
	<div class="" >
		{$ed_nomelemento_value}	</div>

		</div>
		
</div>


{END ed_nomelemento_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ed_modeloelem_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ed_modeloelem}  r-vertical-field" data-fieldname="ed_modeloelem" data-signal-error-for="ed_modeloelem{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="ed_modeloelem" data-fieldname="ed_modeloelem" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ed_modeloelem}">
		
		{BEGIN ed_modeloelem_label}{$label alelemdevolutivo_consulta ed_modeloelem }{END ed_modeloelem_label}
	</label>
	<div class="" >
		{$ed_modeloelem_value}	</div>

		</div>
		
</div>


{END ed_modeloelem_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN edmarca_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_edmarca}  r-vertical-field" data-fieldname="edmarca" data-signal-error-for="edmarca{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="edmarca" data-fieldname="edmarca" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_edmarca}">
		
		{BEGIN edmarca_label}{$label alelemdevolutivo_consulta edmarca }{END edmarca_label}
	</label>
	<div class="" >
		{$edmarca_value}	</div>

		</div>
		
</div>


{END edmarca_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN edunidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_edunidad}  r-vertical-field" data-fieldname="edunidad" data-signal-error-for="edunidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="edunidad" data-fieldname="edunidad" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_edunidad}">
		
		{BEGIN edunidad_label}{$label alelemdevolutivo_consulta edunidad }{END edunidad_label}
	</label>
	<div class="" >
		{$edunidad_value}	</div>

		</div>
		
</div>


{END edunidad_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ed_valunit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ed_valunit}  r-vertical-field" data-fieldname="ed_valunit" data-signal-error-for="ed_valunit{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="ed_valunit" data-fieldname="ed_valunit" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ed_valunit}">
		
		{BEGIN ed_valunit_label}{$label alelemdevolutivo_consulta ed_valunit }{END ed_valunit_label}
	</label>
	<div class="" >
		{$ed_valunit_value}	</div>

		</div>
		
</div>


{END ed_valunit_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="alelemdevolutivo_consulta_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
