<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel almovinddia_legalizados search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN almovdevdia_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_almovdevdia_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="almovdevdia_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="almovdevdia_id_fk" data-fieldname="almovdevdia_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_almovdevdia_id_fk}">
		{$label almovinddia_legalizados almovdevdia_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_almovdevdia_id_fk}
	</div>
	<div class="r-search-field">
		{$almovdevdia_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$almovdevdia_id_fk_editcontrol1}
	</div>
	
</div>

{END almovdevdia_id_fk_fieldblock}
											
{BEGIN almovinddia_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_almovinddia_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="almovinddia_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="almovinddia_id" data-fieldname="almovinddia_id" >


	<label class="r-search-label control-label" for="{$labelfor_almovinddia_id}">
		{$label almovinddia_legalizados almovinddia_id }	</label>
	<div class="r-search-option">
		{$searchtype_almovinddia_id}
	</div>
	<div class="r-search-field">
		{$almovinddia_id_editcontrol}	</div>
	<div class="r-search-field">
		{$almovinddia_id_editcontrol1}
	</div>
	
</div>

{END almovinddia_id_fieldblock}
											
{BEGIN devolutivo_id_FK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_devolutivo_id_FK}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="devolutivo_id_FK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="devolutivo_id_FK" data-fieldname="devolutivo_id_FK" >


	<label class="r-search-label control-label" for="{$labelfor_devolutivo_id_FK}">
		{$label almovinddia_legalizados devolutivo_id_FK }	</label>
	<div class="r-search-option">
		{$searchtype_devolutivo_id_FK}
	</div>
	<div class="r-search-field">
		{$devolutivo_id_FK_editcontrol}	</div>
	<div class="r-search-field">
		{$devolutivo_id_FK_editcontrol1}
	</div>
	
</div>

{END devolutivo_id_FK_fieldblock}
											
{BEGIN doclasedoc_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doclasedoc_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doclasedoc_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="doclasedoc_id_fk" data-fieldname="doclasedoc_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_doclasedoc_id_fk}">
		{$label almovinddia_legalizados doclasedoc_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_doclasedoc_id_fk}
	</div>
	<div class="r-search-field">
		{$doclasedoc_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$doclasedoc_id_fk_editcontrol1}
	</div>
	
</div>

{END doclasedoc_id_fk_fieldblock}
											
{BEGIN md_legalizado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_md_legalizado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="md_legalizado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="md_legalizado" data-fieldname="md_legalizado" >


	<label class="r-search-label control-label" for="{$labelfor_md_legalizado}">
		{$label almovinddia_legalizados md_legalizado }	</label>
	<div class="r-search-option">
		{$searchtype_md_legalizado}
	</div>
	<div class="r-search-field">
		{$md_legalizado_editcontrol}	</div>
	<div class="r-search-field">
		{$md_legalizado_editcontrol1}
	</div>
	
</div>

{END md_legalizado_fieldblock}
											
{BEGIN mid_valunit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mid_valunit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mid_valunit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="mid_valunit" data-fieldname="mid_valunit" >


	<label class="r-search-label control-label" for="{$labelfor_mid_valunit}">
		{$label almovinddia_legalizados mid_valunit }	</label>
	<div class="r-search-option">
		{$searchtype_mid_valunit}
	</div>
	<div class="r-search-field">
		{$mid_valunit_editcontrol}	</div>
	<div class="r-search-field">
		{$mid_valunit_editcontrol1}
	</div>
	
</div>

{END mid_valunit_fieldblock}
											
{BEGIN midalmacen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midalmacen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midalmacen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="midalmacen" data-fieldname="midalmacen" >


	<label class="r-search-label control-label" for="{$labelfor_midalmacen}">
		{$label almovinddia_legalizados midalmacen }	</label>
	<div class="r-search-option">
		{$searchtype_midalmacen}
	</div>
	<div class="r-search-field">
		{$midalmacen_editcontrol}	</div>
	<div class="r-search-field">
		{$midalmacen_editcontrol1}
	</div>
	
</div>

{END midalmacen_fieldblock}
											
{BEGIN midclasedoc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midclasedoc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midclasedoc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="midclasedoc" data-fieldname="midclasedoc" >


	<label class="r-search-label control-label" for="{$labelfor_midclasedoc}">
		{$label almovinddia_legalizados midclasedoc }	</label>
	<div class="r-search-option">
		{$searchtype_midclasedoc}
	</div>
	<div class="r-search-field">
		{$midclasedoc_editcontrol}	</div>
	<div class="r-search-field">
		{$midclasedoc_editcontrol1}
	</div>
	
</div>

{END midclasedoc_fieldblock}
											
{BEGIN midcodelem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midcodelem}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midcodelem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="midcodelem" data-fieldname="midcodelem" >


	<label class="r-search-label control-label" for="{$labelfor_midcodelem}">
		{$label almovinddia_legalizados midcodelem }	</label>
	<div class="r-search-option">
		{$searchtype_midcodelem}
	</div>
	<div class="r-search-field">
		{$midcodelem_editcontrol}	</div>
	<div class="r-search-field">
		{$midcodelem_editcontrol1}
	</div>
	
</div>

{END midcodelem_fieldblock}
											
{BEGIN midcuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midcuenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midcuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="midcuenta" data-fieldname="midcuenta" >


	<label class="r-search-label control-label" for="{$labelfor_midcuenta}">
		{$label almovinddia_legalizados midcuenta }	</label>
	<div class="r-search-option">
		{$searchtype_midcuenta}
	</div>
	<div class="r-search-field">
		{$midcuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$midcuenta_editcontrol1}
	</div>
	
</div>

{END midcuenta_fieldblock}
											
{BEGIN midfechadoc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midfechadoc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midfechadoc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="midfechadoc" data-fieldname="midfechadoc" >


	<label class="r-search-label control-label" for="{$labelfor_midfechadoc}">
		{$label almovinddia_legalizados midfechadoc }	</label>
	<div class="r-search-option">
		{$searchtype_midfechadoc}
	</div>
	<div class="r-search-field">
		{$midfechadoc_editcontrol}	</div>
	<div class="r-search-field">
		{$midfechadoc_editcontrol1}
	</div>
	
</div>

{END midfechadoc_fieldblock}
											
{BEGIN midnrodoc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midnrodoc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midnrodoc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="midnrodoc" data-fieldname="midnrodoc" >


	<label class="r-search-label control-label" for="{$labelfor_midnrodoc}">
		{$label almovinddia_legalizados midnrodoc }	</label>
	<div class="r-search-option">
		{$searchtype_midnrodoc}
	</div>
	<div class="r-search-field">
		{$midnrodoc_editcontrol}	</div>
	<div class="r-search-field">
		{$midnrodoc_editcontrol1}
	</div>
	
</div>

{END midnrodoc_fieldblock}
											
{BEGIN midnroplaca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midnroplaca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midnroplaca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="midnroplaca" data-fieldname="midnroplaca" >


	<label class="r-search-label control-label" for="{$labelfor_midnroplaca}">
		{$label almovinddia_legalizados midnroplaca }	</label>
	<div class="r-search-option">
		{$searchtype_midnroplaca}
	</div>
	<div class="r-search-field">
		{$midnroplaca_editcontrol}	</div>
	<div class="r-search-field">
		{$midnroplaca_editcontrol1}
	</div>
	
</div>

{END midnroplaca_fieldblock}
											
{BEGIN midnroserie_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_midnroserie}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="midnroserie{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="midnroserie" data-fieldname="midnroserie" >


	<label class="r-search-label control-label" for="{$labelfor_midnroserie}">
		{$label almovinddia_legalizados midnroserie }	</label>
	<div class="r-search-option">
		{$searchtype_midnroserie}
	</div>
	<div class="r-search-field">
		{$midnroserie_editcontrol}	</div>
	<div class="r-search-field">
		{$midnroserie_editcontrol1}
	</div>
	
</div>

{END midnroserie_fieldblock}
											
{BEGIN cod_cta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cod_cta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cod_cta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cod_cta" data-fieldname="cod_cta" >


	<label class="r-search-label control-label" for="{$labelfor_cod_cta}">
		{$label almovinddia_legalizados cod_cta }	</label>
	<div class="r-search-option">
		{$searchtype_cod_cta}
	</div>
	<div class="r-search-field">
		{$cod_cta_editcontrol}	</div>
	<div class="r-search-field">
		{$cod_cta_editcontrol1}
	</div>
	
</div>

{END cod_cta_fieldblock}
											
{BEGIN sys_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="sys_status" data-fieldname="sys_status" >


	<label class="r-search-label control-label" for="{$labelfor_sys_status}">
		{$label almovinddia_legalizados sys_status }	</label>
	<div class="r-search-option">
		{$searchtype_sys_status}
	</div>
	<div class="r-search-field">
		{$sys_status_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_status_editcontrol1}
	</div>
	
</div>

{END sys_status_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
