<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="back_master" data-itemid="back_master" {$item_back_master} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link  btn-xs 
	" {$backtomasterlink_attrs} >
							Regresar a la tabla principal			</a>
</span>
	 
		<h3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" {$item_masterlist_header} data-pageid="{$pageid}" >{$pagetitlelabel almovdevdia_ingresos_d masterlist}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$almovdevdia_id_class}	"

			data-field="almovdevdia_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN almovdevdia_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="almovdevdia_id" data-fieldname="almovdevdia_id" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d almovdevdia_id }</span>
			</span>
	</span>
{END almovdevdia_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$doclasedoc_id_fk_class}	"

			data-field="doclasedoc_id_fk"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN doclasedoc_id_fk_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="doclasedoc_id_fk" data-fieldname="doclasedoc_id_fk" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d doclasedoc_id_fk }</span>
			</span>
	</span>
{END doclasedoc_id_fk_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddclasedoc_class}	"

			data-field="mddclasedoc"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddclasedoc_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddclasedoc" data-fieldname="mddclasedoc" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddclasedoc }</span>
			</span>
	</span>
{END mddclasedoc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddnrodoc_class}	"

			data-field="mddnrodoc"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddnrodoc_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddnrodoc" data-fieldname="mddnrodoc" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddnrodoc }</span>
			</span>
	</span>
{END mddnrodoc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddfechadoc_class}	"

			data-field="mddfechadoc"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddfechadoc_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddfechadoc" data-fieldname="mddfechadoc" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddfechadoc }</span>
			</span>
	</span>
{END mddfechadoc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddalmacen_class}	"

			data-field="mddalmacen"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddalmacen_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddalmacen" data-fieldname="mddalmacen" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddalmacen }</span>
			</span>
	</span>
{END mddalmacen_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddtipoestruc_class}	"

			data-field="mddtipoestruc"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddtipoestruc_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddtipoestruc" data-fieldname="mddtipoestruc" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddtipoestruc }</span>
			</span>
	</span>
{END mddtipoestruc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$devolutivo_id_FK_class}	"

			data-field="devolutivo_id_FK"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN devolutivo_id_FK_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="devolutivo_id_FK" data-fieldname="devolutivo_id_FK" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d devolutivo_id_FK }</span>
			</span>
	</span>
{END devolutivo_id_FK_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddcuenta_class}	"

			data-field="mddcuenta"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddcuenta_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddcuenta" data-fieldname="mddcuenta" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddcuenta }</span>
			</span>
	</span>
{END mddcuenta_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddcodelem_class}	"

			data-field="mddcodelem"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddcodelem_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddcodelem" data-fieldname="mddcodelem" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddcodelem }</span>
			</span>
	</span>
{END mddcodelem_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddnomelem_class}	"

			data-field="mddnomelem"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddnomelem_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddnomelem" data-fieldname="mddnomelem" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mddnomelem }</span>
			</span>
	</span>
{END mddnomelem_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_cantmovto_class}	"

			data-field="mdd_cantmovto"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_cantmovto_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_cantmovto" data-fieldname="mdd_cantmovto" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mdd_cantmovto }</span>
			</span>
	</span>
{END mdd_cantmovto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_cantmovto_verifica_class}	"

			data-field="mdd_cantmovto_verifica"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_cantmovto_verifica_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_cantmovto_verifica" data-fieldname="mdd_cantmovto_verifica" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mdd_cantmovto_verifica }</span>
			</span>
	</span>
{END mdd_cantmovto_verifica_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_valunit_class}	"

			data-field="mdd_valunit"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_valunit_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_valunit" data-fieldname="mdd_valunit" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mdd_valunit }</span>
			</span>
	</span>
{END mdd_valunit_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_tax_class}	"

			data-field="mdd_tax"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_tax_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_tax" data-fieldname="mdd_tax" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mdd_tax }</span>
			</span>
	</span>
{END mdd_tax_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_valmovto_class}	"

			data-field="mdd_valmovto"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_valmovto_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_valmovto" data-fieldname="mdd_valmovto" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d mdd_valmovto }</span>
			</span>
	</span>
{END mdd_valmovto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$geusuario_class}	"

			data-field="geusuario"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN geusuario_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="geusuario" data-fieldname="geusuario" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d geusuario }</span>
			</span>
	</span>
{END geusuario_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$gefechaactua_class}	"

			data-field="gefechaactua"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN gefechaactua_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="gefechaactua" data-fieldname="gefechaactua" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d gefechaactua }</span>
			</span>
	</span>
{END gefechaactua_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$legalizado_class}	"

			data-field="legalizado"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN legalizado_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="legalizado" data-fieldname="legalizado" 

	
	
	>
	<span class="text-label">
		<span>{$label almovdevdia_ingresos_d legalizado }</span>
			</span>
	</span>
{END legalizado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"		data-control-cell
	
	>

	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	
	</td>
	{END cellblock_grid_cell_icons}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$almovdevdia_id_class}	"

			data-field="almovdevdia_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN almovdevdia_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="almovdevdia_id" data-fieldname="almovdevdia_id" data-default-width >
{$almovdevdia_id_value}
</span>
{END almovdevdia_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$doclasedoc_id_fk_class}	"

			data-field="doclasedoc_id_fk"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN doclasedoc_id_fk_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="doclasedoc_id_fk" data-fieldname="doclasedoc_id_fk" data-default-width >
{$doclasedoc_id_fk_value}
</span>
{END doclasedoc_id_fk_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddclasedoc_class}	"

			data-field="mddclasedoc"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddclasedoc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddclasedoc" data-fieldname="mddclasedoc" data-default-width >
{$mddclasedoc_value}
</span>
{END mddclasedoc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddnrodoc_class}	"

			data-field="mddnrodoc"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddnrodoc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddnrodoc" data-fieldname="mddnrodoc" data-default-width >
{$mddnrodoc_value}
</span>
{END mddnrodoc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddfechadoc_class}	"

			data-field="mddfechadoc"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddfechadoc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddfechadoc" data-fieldname="mddfechadoc" data-default-width >
{$mddfechadoc_value}
</span>
{END mddfechadoc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddalmacen_class}	"

			data-field="mddalmacen"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddalmacen_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddalmacen" data-fieldname="mddalmacen" data-default-width >
{$mddalmacen_value}
</span>
{END mddalmacen_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddtipoestruc_class}	"

			data-field="mddtipoestruc"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddtipoestruc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddtipoestruc" data-fieldname="mddtipoestruc" data-default-width >
{$mddtipoestruc_value}
</span>
{END mddtipoestruc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$devolutivo_id_FK_class}	"

			data-field="devolutivo_id_FK"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN devolutivo_id_FK_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="devolutivo_id_FK" data-fieldname="devolutivo_id_FK" data-default-width >
{$devolutivo_id_FK_value}
</span>
{END devolutivo_id_FK_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddcuenta_class}	"

			data-field="mddcuenta"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddcuenta_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddcuenta" data-fieldname="mddcuenta" data-default-width >
{$mddcuenta_value}
</span>
{END mddcuenta_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddcodelem_class}	"

			data-field="mddcodelem"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddcodelem_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddcodelem" data-fieldname="mddcodelem" data-default-width >
{$mddcodelem_value}
</span>
{END mddcodelem_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddnomelem_class}	"

			data-field="mddnomelem"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mddnomelem_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mddnomelem" data-fieldname="mddnomelem" data-default-width >
{$mddnomelem_value}
</span>
{END mddnomelem_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_cantmovto_class}	"

			data-field="mdd_cantmovto"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_cantmovto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_cantmovto" data-fieldname="mdd_cantmovto" data-default-width >
{$mdd_cantmovto_value}
</span>
{END mdd_cantmovto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_cantmovto_verifica_class}	"

			data-field="mdd_cantmovto_verifica"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_cantmovto_verifica_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_cantmovto_verifica" data-fieldname="mdd_cantmovto_verifica" data-default-width >
{$mdd_cantmovto_verifica_value}
</span>
{END mdd_cantmovto_verifica_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_valunit_class}	"

			data-field="mdd_valunit"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_valunit_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_valunit" data-fieldname="mdd_valunit" data-default-width >
{$mdd_valunit_value}
</span>
{END mdd_valunit_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_tax_class}	"

			data-field="mdd_tax"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_tax_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_tax" data-fieldname="mdd_tax" data-default-width >
{$mdd_tax_value}
</span>
{END mdd_tax_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_valmovto_class}	"

			data-field="mdd_valmovto"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mdd_valmovto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mdd_valmovto" data-fieldname="mdd_valmovto" data-default-width >
{$mdd_valmovto_value}
</span>
{END mdd_valmovto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$geusuario_class}	"

			data-field="geusuario"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN geusuario_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="geusuario" data-fieldname="geusuario" data-default-width >
{$geusuario_value}
</span>
{END geusuario_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$gefechaactua_class}	"

			data-field="gefechaactua"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN gefechaactua_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="gefechaactua" data-fieldname="gefechaactua" data-default-width >
{$gefechaactua_value}
</span>
{END gefechaactua_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$legalizado_class}	"

			data-field="legalizado"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN legalizado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="legalizado" data-fieldname="legalizado" data-default-width >
{$legalizado_value}
</span>
{END legalizado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$almovdevdia_id_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$doclasedoc_id_fk_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddclasedoc_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddnrodoc_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddfechadoc_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddalmacen_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddtipoestruc_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$devolutivo_id_FK_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddcuenta_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddcodelem_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mddnomelem_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_cantmovto_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_cantmovto_verifica_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_valunit_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_tax_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mdd_valmovto_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$geusuario_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$gefechaactua_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$legalizado_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="almovdevdia_ingresos_d_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
