<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel cgc_2 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cgc_di_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cgc_di}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cgc_di{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cgc_di" data-fieldname="cgc_di" >


	<label class="r-search-label control-label" for="{$labelfor_cgc_di}">
		{$label cgc_2 cgc_di }	</label>
	<div class="r-search-option">
		{$searchtype_cgc_di}
	</div>
	<div class="r-search-field">
		{$cgc_di_editcontrol}	</div>
	<div class="r-search-field">
		{$cgc_di_editcontrol1}
	</div>
	
</div>

{END cgc_di_fieldblock}
											
{BEGIN pos_1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pos_1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pos_1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="pos_1" data-fieldname="pos_1" >


	<label class="r-search-label control-label" for="{$labelfor_pos_1}">
		{$label cgc_2 pos_1 }	</label>
	<div class="r-search-option">
		{$searchtype_pos_1}
	</div>
	<div class="r-search-field">
		{$pos_1_editcontrol}	</div>
	<div class="r-search-field">
		{$pos_1_editcontrol1}
	</div>
	
</div>

{END pos_1_fieldblock}
											
{BEGIN pos_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pos_2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pos_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="pos_2" data-fieldname="pos_2" >


	<label class="r-search-label control-label" for="{$labelfor_pos_2}">
		{$label cgc_2 pos_2 }	</label>
	<div class="r-search-option">
		{$searchtype_pos_2}
	</div>
	<div class="r-search-field">
		{$pos_2_editcontrol}	</div>
	<div class="r-search-field">
		{$pos_2_editcontrol1}
	</div>
	
</div>

{END pos_2_fieldblock}
											
{BEGIN pos_4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pos_4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pos_4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="pos_4" data-fieldname="pos_4" >


	<label class="r-search-label control-label" for="{$labelfor_pos_4}">
		{$label cgc_2 pos_4 }	</label>
	<div class="r-search-option">
		{$searchtype_pos_4}
	</div>
	<div class="r-search-field">
		{$pos_4_editcontrol}	</div>
	<div class="r-search-field">
		{$pos_4_editcontrol1}
	</div>
	
</div>

{END pos_4_fieldblock}
											
{BEGIN pos_6_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pos_6}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pos_6{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="pos_6" data-fieldname="pos_6" >


	<label class="r-search-label control-label" for="{$labelfor_pos_6}">
		{$label cgc_2 pos_6 }	</label>
	<div class="r-search-option">
		{$searchtype_pos_6}
	</div>
	<div class="r-search-field">
		{$pos_6_editcontrol}	</div>
	<div class="r-search-field">
		{$pos_6_editcontrol1}
	</div>
	
</div>

{END pos_6_fieldblock}
											
{BEGIN pos_9_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pos_9}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pos_9{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="pos_9" data-fieldname="pos_9" >


	<label class="r-search-label control-label" for="{$labelfor_pos_9}">
		{$label cgc_2 pos_9 }	</label>
	<div class="r-search-option">
		{$searchtype_pos_9}
	</div>
	<div class="r-search-field">
		{$pos_9_editcontrol}	</div>
	<div class="r-search-field">
		{$pos_9_editcontrol1}
	</div>
	
</div>

{END pos_9_fieldblock}
											
{BEGIN CodigoContable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CodigoContable}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CodigoContable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="CodigoContable" data-fieldname="CodigoContable" >


	<label class="r-search-label control-label" for="{$labelfor_CodigoContable}">
		{$label cgc_2 CodigoContable }	</label>
	<div class="r-search-option">
		{$searchtype_CodigoContable}
	</div>
	<div class="r-search-field">
		{$CodigoContable_editcontrol}	</div>
	<div class="r-search-field">
		{$CodigoContable_editcontrol1}
	</div>
	
</div>

{END CodigoContable_fieldblock}
											
{BEGIN Descripcion_4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion_4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Descripcion_4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Descripcion_4" data-fieldname="Descripcion_4" >


	<label class="r-search-label control-label" for="{$labelfor_Descripcion_4}">
		{$label cgc_2 Descripcion_4 }	</label>
	<div class="r-search-option">
		{$searchtype_Descripcion_4}
	</div>
	<div class="r-search-field">
		{$Descripcion_4_editcontrol}	</div>
	<div class="r-search-field">
		{$Descripcion_4_editcontrol1}
	</div>
	
</div>

{END Descripcion_4_fieldblock}
											
{BEGIN Imputable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Imputable}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Imputable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Imputable" data-fieldname="Imputable" >


	<label class="r-search-label control-label" for="{$labelfor_Imputable}">
		{$label cgc_2 Imputable }	</label>
	<div class="r-search-option">
		{$searchtype_Imputable}
	</div>
	<div class="r-search-field">
		{$Imputable_editcontrol}	</div>
	<div class="r-search-field">
		{$Imputable_editcontrol1}
	</div>
	
</div>

{END Imputable_fieldblock}
											
{BEGIN Clasifica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Clasifica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Clasifica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Clasifica" data-fieldname="Clasifica" >


	<label class="r-search-label control-label" for="{$labelfor_Clasifica}">
		{$label cgc_2 Clasifica }	</label>
	<div class="r-search-option">
		{$searchtype_Clasifica}
	</div>
	<div class="r-search-field">
		{$Clasifica_editcontrol}	</div>
	<div class="r-search-field">
		{$Clasifica_editcontrol1}
	</div>
	
</div>

{END Clasifica_fieldblock}
											
{BEGIN Manual_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Manual}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Manual{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Manual" data-fieldname="Manual" >


	<label class="r-search-label control-label" for="{$labelfor_Manual}">
		{$label cgc_2 Manual }	</label>
	<div class="r-search-option">
		{$searchtype_Manual}
	</div>
	<div class="r-search-field">
		{$Manual_editcontrol}	</div>
	<div class="r-search-field">
		{$Manual_editcontrol1}
	</div>
	
</div>

{END Manual_fieldblock}
											
{BEGIN Reciproca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Reciproca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Reciproca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Reciproca" data-fieldname="Reciproca" >


	<label class="r-search-label control-label" for="{$labelfor_Reciproca}">
		{$label cgc_2 Reciproca }	</label>
	<div class="r-search-option">
		{$searchtype_Reciproca}
	</div>
	<div class="r-search-field">
		{$Reciproca_editcontrol}	</div>
	<div class="r-search-field">
		{$Reciproca_editcontrol1}
	</div>
	
</div>

{END Reciproca_fieldblock}
											
{BEGIN AplBanco_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AplBanco}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AplBanco{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="AplBanco" data-fieldname="AplBanco" >


	<label class="r-search-label control-label" for="{$labelfor_AplBanco}">
		{$label cgc_2 AplBanco }	</label>
	<div class="r-search-option">
		{$searchtype_AplBanco}
	</div>
	<div class="r-search-field">
		{$AplBanco_editcontrol}	</div>
	<div class="r-search-field">
		{$AplBanco_editcontrol1}
	</div>
	
</div>

{END AplBanco_fieldblock}
											
{BEGIN Naturaleza_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Naturaleza}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Naturaleza{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Naturaleza" data-fieldname="Naturaleza" >


	<label class="r-search-label control-label" for="{$labelfor_Naturaleza}">
		{$label cgc_2 Naturaleza }	</label>
	<div class="r-search-option">
		{$searchtype_Naturaleza}
	</div>
	<div class="r-search-field">
		{$Naturaleza_editcontrol}	</div>
	<div class="r-search-field">
		{$Naturaleza_editcontrol1}
	</div>
	
</div>

{END Naturaleza_fieldblock}
											
{BEGIN Saldo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Saldo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Saldo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Saldo" data-fieldname="Saldo" >


	<label class="r-search-label control-label" for="{$labelfor_Saldo}">
		{$label cgc_2 Saldo }	</label>
	<div class="r-search-option">
		{$searchtype_Saldo}
	</div>
	<div class="r-search-field">
		{$Saldo_editcontrol}	</div>
	<div class="r-search-field">
		{$Saldo_editcontrol1}
	</div>
	
</div>

{END Saldo_fieldblock}
											
{BEGIN Vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Vigente" data-fieldname="Vigente" >


	<label class="r-search-label control-label" for="{$labelfor_Vigente}">
		{$label cgc_2 Vigente }	</label>
	<div class="r-search-option">
		{$searchtype_Vigente}
	</div>
	<div class="r-search-field">
		{$Vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$Vigente_editcontrol1}
	</div>
	
</div>

{END Vigente_fieldblock}
											
{BEGIN CodigoEntidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CodigoEntidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CodigoEntidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="CodigoEntidad" data-fieldname="CodigoEntidad" >


	<label class="r-search-label control-label" for="{$labelfor_CodigoEntidad}">
		{$label cgc_2 CodigoEntidad }	</label>
	<div class="r-search-option">
		{$searchtype_CodigoEntidad}
	</div>
	<div class="r-search-field">
		{$CodigoEntidad_editcontrol}	</div>
	<div class="r-search-field">
		{$CodigoEntidad_editcontrol1}
	</div>
	
</div>

{END CodigoEntidad_fieldblock}
											
{BEGIN EntidadContablePublica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EntidadContablePublica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EntidadContablePublica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="EntidadContablePublica" data-fieldname="EntidadContablePublica" >


	<label class="r-search-label control-label" for="{$labelfor_EntidadContablePublica}">
		{$label cgc_2 EntidadContablePublica }	</label>
	<div class="r-search-option">
		{$searchtype_EntidadContablePublica}
	</div>
	<div class="r-search-field">
		{$EntidadContablePublica_editcontrol}	</div>
	<div class="r-search-field">
		{$EntidadContablePublica_editcontrol1}
	</div>
	
</div>

{END EntidadContablePublica_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
