<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel gedocumentos_ingresos view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN as_nroasiento_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_as_nroasiento_fk}  r-vertical-field" data-fieldname="as_nroasiento_fk" data-signal-error-for="as_nroasiento_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="as_nroasiento_fk" data-fieldname="as_nroasiento_fk" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_as_nroasiento_fk}">
		
		{BEGIN as_nroasiento_fk_label}{$label gedocumentos_ingresos as_nroasiento_fk }{END as_nroasiento_fk_label}
	</label>
	<div class="" >
		{$as_nroasiento_fk_value}	</div>

		</div>
		
</div>


{END as_nroasiento_fk_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN docodregion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_docodregion}  r-vertical-field" data-fieldname="docodregion" data-signal-error-for="docodregion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="docodregion" data-fieldname="docodregion" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_docodregion}">
		
		{BEGIN docodregion_label}{$label gedocumentos_ingresos docodregion }{END docodregion_label}
	</label>
	<div class="" >
		{$docodregion_value}	</div>

		</div>
		
</div>


{END docodregion_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_nrodoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_nrodoc}  r-vertical-field" data-fieldname="do_nrodoc" data-signal-error-for="do_nrodoc{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="do_nrodoc" data-fieldname="do_nrodoc" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_nrodoc}">
		
		{BEGIN do_nrodoc_label}{$label gedocumentos_ingresos do_nrodoc }{END do_nrodoc_label}
	</label>
	<div class="" >
		{$do_nrodoc_value}	</div>

		</div>
		
</div>


{END do_nrodoc_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_tipomov_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_tipomov}  r-vertical-field" data-fieldname="do_tipomov" data-signal-error-for="do_tipomov{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="do_tipomov" data-fieldname="do_tipomov" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_tipomov}">
		
		{BEGIN do_tipomov_label}{$label gedocumentos_ingresos do_tipomov }{END do_tipomov_label}
	</label>
	<div class="" >
		{$do_tipomov_value}	</div>

		</div>
		
</div>


{END do_tipomov_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doclasedoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doclasedoc}  r-vertical-field" data-fieldname="doclasedoc" data-signal-error-for="doclasedoc{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="doclasedoc" data-fieldname="doclasedoc" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_doclasedoc}">
		
		{BEGIN doclasedoc_label}{$label gedocumentos_ingresos doclasedoc }{END doclasedoc_label}
	</label>
	<div class="" >
		{$doclasedoc_value}	</div>

		</div>
		
</div>


{END doclasedoc_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
			 
																

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_fechadoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_fechadoc}  r-vertical-field" data-fieldname="do_fechadoc" data-signal-error-for="do_fechadoc{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="do_fechadoc" data-fieldname="do_fechadoc" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_fechadoc}">
		
		{BEGIN do_fechadoc_label}{$label gedocumentos_ingresos do_fechadoc }{END do_fechadoc_label}
	</label>
	<div class="" >
		{$do_fechadoc_value}	</div>

		</div>
		
</div>


{END do_fechadoc_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="3"		data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_detalle_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_detalle}  r-vertical-field" data-fieldname="do_detalle" data-signal-error-for="do_detalle{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="do_detalle" data-fieldname="do_detalle" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_detalle}">
		
		{BEGIN do_detalle_label}{$label gedocumentos_ingresos do_detalle }{END do_detalle_label}
	</label>
	<div class="" >
		{$do_detalle_value}	</div>

		</div>
		
</div>


{END do_detalle_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_tipodoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_tipodoc}  r-vertical-field" data-fieldname="do_tipodoc" data-signal-error-for="do_tipodoc{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="do_tipodoc" data-fieldname="do_tipodoc" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_tipodoc}">
		
		{BEGIN do_tipodoc_label}{$label gedocumentos_ingresos do_tipodoc }{END do_tipodoc_label}
	</label>
	<div class="" >
		{$do_tipodoc_value}	</div>

		</div>
		
</div>


{END do_tipodoc_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doccnit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doccnit}  r-vertical-field" data-fieldname="doccnit" data-signal-error-for="doccnit{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="doccnit" data-fieldname="doccnit" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_doccnit}">
		
		{BEGIN doccnit_label}{$label gedocumentos_ingresos doccnit }{END doccnit_label}
	</label>
	<div class="" >
		{$doccnit_value}	</div>

		</div>
		
</div>


{END doccnit_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN docnomproveedor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_docnomproveedor}  r-vertical-field" data-fieldname="docnomproveedor" data-signal-error-for="docnomproveedor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="docnomproveedor" data-fieldname="docnomproveedor" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_docnomproveedor}">
		
		{BEGIN docnomproveedor_label}{$label gedocumentos_ingresos docnomproveedor }{END docnomproveedor_label}
	</label>
	<div class="" >
		{$docnomproveedor_value}	</div>

		</div>
		
</div>


{END docnomproveedor_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_concepto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_concepto}  r-vertical-field" data-fieldname="do_concepto" data-signal-error-for="do_concepto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="do_concepto" data-fieldname="do_concepto" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_concepto}">
		
		{BEGIN do_concepto_label}{$label gedocumentos_ingresos do_concepto }{END do_concepto_label}
	</label>
	<div class="" >
		{$do_concepto_value}	</div>

		</div>
		
</div>


{END do_concepto_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
																

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_depsup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_depsup}  r-vertical-field" data-fieldname="do_depsup" data-signal-error-for="do_depsup{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="do_depsup" data-fieldname="do_depsup" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_depsup}">
		
		{BEGIN do_depsup_label}{$label gedocumentos_ingresos do_depsup }{END do_depsup_label}
	</label>
	<div class="" >
		{$do_depsup_value}	</div>

		</div>
		
</div>


{END do_depsup_fieldblock}
	
								</td>
			{END cellblock_grid_c15}
			 
																

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_dep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_dep}  r-vertical-field" data-fieldname="do_dep" data-signal-error-for="do_dep{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="do_dep" data-fieldname="do_dep" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_dep}">
		
		{BEGIN do_dep_label}{$label gedocumentos_ingresos do_dep }{END do_dep_label}
	</label>
	<div class="" >
		{$do_dep_value}	</div>

		</div>
		
</div>


{END do_dep_fieldblock}
	
								</td>
			{END cellblock_grid_c16}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="3"		data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN do_file_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_do_file}  r-vertical-field" data-fieldname="do_file" data-signal-error-for="do_file{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="do_file" data-fieldname="do_file" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_do_file}">
		
		{BEGIN do_file_label}{$label gedocumentos_ingresos do_file }{END do_file_label}
	</label>
	<div class="" >
		{$do_file_value}	</div>

		</div>
		
</div>


{END do_file_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label gedocumentos_ingresos sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c4}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="gedocumentos_ingresos_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
