<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Mi_inventario search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN aldevindiv_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_aldevindiv_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="aldevindiv_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="aldevindiv_id" data-fieldname="aldevindiv_id" >


	<label class="r-search-label control-label" for="{$labelfor_aldevindiv_id}">
		{$label Mi_inventario aldevindiv_id }	</label>
	<div class="r-search-option">
		{$searchtype_aldevindiv_id}
	</div>
	<div class="r-search-field">
		{$aldevindiv_id_editcontrol}	</div>
	<div class="r-search-field">
		{$aldevindiv_id_editcontrol1}
	</div>
	
</div>

{END aldevindiv_id_fieldblock}
											
{BEGIN cod_cta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cod_cta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cod_cta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="cod_cta" data-fieldname="cod_cta" >


	<label class="r-search-label control-label" for="{$labelfor_cod_cta}">
		{$label Mi_inventario cod_cta }	</label>
	<div class="r-search-option">
		{$searchtype_cod_cta}
	</div>
	<div class="r-search-field">
		{$cod_cta_editcontrol}	</div>
	<div class="r-search-field">
		{$cod_cta_editcontrol1}
	</div>
	
</div>

{END cod_cta_fieldblock}
											
{BEGIN di_fechacompra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_fechacompra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_fechacompra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="di_fechacompra" data-fieldname="di_fechacompra" >


	<label class="r-search-label control-label" for="{$labelfor_di_fechacompra}">
		{$label Mi_inventario di_fechacompra }	</label>
	<div class="r-search-option">
		{$searchtype_di_fechacompra}
	</div>
	<div class="r-search-field">
		{$di_fechacompra_editcontrol}	</div>
	<div class="r-search-field">
		{$di_fechacompra_editcontrol1}
	</div>
	
</div>

{END di_fechacompra_fieldblock}
											
{BEGIN di_nroplaca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroplaca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_nroplaca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="di_nroplaca" data-fieldname="di_nroplaca" >


	<label class="r-search-label control-label" for="{$labelfor_di_nroplaca}">
		{$label Mi_inventario di_nroplaca }	</label>
	<div class="r-search-option">
		{$searchtype_di_nroplaca}
	</div>
	<div class="r-search-field">
		{$di_nroplaca_editcontrol}	</div>
	<div class="r-search-field">
		{$di_nroplaca_editcontrol1}
	</div>
	
</div>

{END di_nroplaca_fieldblock}
											
{BEGIN di_nroserie_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroserie}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_nroserie{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="di_nroserie" data-fieldname="di_nroserie" >


	<label class="r-search-label control-label" for="{$labelfor_di_nroserie}">
		{$label Mi_inventario di_nroserie }	</label>
	<div class="r-search-option">
		{$searchtype_di_nroserie}
	</div>
	<div class="r-search-field">
		{$di_nroserie_editcontrol}	</div>
	<div class="r-search-field">
		{$di_nroserie_editcontrol1}
	</div>
	
</div>

{END di_nroserie_fieldblock}
											
{BEGIN di_ubica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_ubica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_ubica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="di_ubica" data-fieldname="di_ubica" >


	<label class="r-search-label control-label" for="{$labelfor_di_ubica}">
		{$label Mi_inventario di_ubica }	</label>
	<div class="r-search-option">
		{$searchtype_di_ubica}
	</div>
	<div class="r-search-field">
		{$di_ubica_editcontrol}	</div>
	<div class="r-search-field">
		{$di_ubica_editcontrol1}
	</div>
	
</div>

{END di_ubica_fieldblock}
											
{BEGIN di_valorcompra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_valorcompra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_valorcompra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="di_valorcompra" data-fieldname="di_valorcompra" >


	<label class="r-search-label control-label" for="{$labelfor_di_valorcompra}">
		{$label Mi_inventario di_valorcompra }	</label>
	<div class="r-search-option">
		{$searchtype_di_valorcompra}
	</div>
	<div class="r-search-field">
		{$di_valorcompra_editcontrol}	</div>
	<div class="r-search-field">
		{$di_valorcompra_editcontrol1}
	</div>
	
</div>

{END di_valorcompra_fieldblock}
											
{BEGIN di_almacen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_almacen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_almacen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="di_almacen" data-fieldname="di_almacen" >


	<label class="r-search-label control-label" for="{$labelfor_di_almacen}">
		{$label Mi_inventario di_almacen }	</label>
	<div class="r-search-option">
		{$searchtype_di_almacen}
	</div>
	<div class="r-search-field">
		{$di_almacen_editcontrol}	</div>
	<div class="r-search-field">
		{$di_almacen_editcontrol1}
	</div>
	
</div>

{END di_almacen_fieldblock}
											
{BEGIN di_cuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_cuenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_cuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="di_cuenta" data-fieldname="di_cuenta" >


	<label class="r-search-label control-label" for="{$labelfor_di_cuenta}">
		{$label Mi_inventario di_cuenta }	</label>
	<div class="r-search-option">
		{$searchtype_di_cuenta}
	</div>
	<div class="r-search-field">
		{$di_cuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$di_cuenta_editcontrol1}
	</div>
	
</div>

{END di_cuenta_fieldblock}
											
{BEGIN di_codelem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_codelem}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_codelem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="di_codelem" data-fieldname="di_codelem" >


	<label class="r-search-label control-label" for="{$labelfor_di_codelem}">
		{$label Mi_inventario di_codelem }	</label>
	<div class="r-search-option">
		{$searchtype_di_codelem}
	</div>
	<div class="r-search-field">
		{$di_codelem_editcontrol}	</div>
	<div class="r-search-field">
		{$di_codelem_editcontrol1}
	</div>
	
</div>

{END di_codelem_fieldblock}
											
{BEGIN di_funcionario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_funcionario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_funcionario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="di_funcionario" data-fieldname="di_funcionario" >


	<label class="r-search-label control-label" for="{$labelfor_di_funcionario}">
		{$label Mi_inventario di_funcionario }	</label>
	<div class="r-search-option">
		{$searchtype_di_funcionario}
	</div>
	<div class="r-search-field">
		{$di_funcionario_editcontrol}	</div>
	<div class="r-search-field">
		{$di_funcionario_editcontrol1}
	</div>
	
</div>

{END di_funcionario_fieldblock}
											
{BEGIN di_depsup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_depsup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_depsup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="di_depsup" data-fieldname="di_depsup" >


	<label class="r-search-label control-label" for="{$labelfor_di_depsup}">
		{$label Mi_inventario di_depsup }	</label>
	<div class="r-search-option">
		{$searchtype_di_depsup}
	</div>
	<div class="r-search-field">
		{$di_depsup_editcontrol}	</div>
	<div class="r-search-field">
		{$di_depsup_editcontrol1}
	</div>
	
</div>

{END di_depsup_fieldblock}
											
{BEGIN di_dep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_dep}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_dep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="di_dep" data-fieldname="di_dep" >


	<label class="r-search-label control-label" for="{$labelfor_di_dep}">
		{$label Mi_inventario di_dep }	</label>
	<div class="r-search-option">
		{$searchtype_di_dep}
	</div>
	<div class="r-search-field">
		{$di_dep_editcontrol}	</div>
	<div class="r-search-field">
		{$di_dep_editcontrol1}
	</div>
	
</div>

{END di_dep_fieldblock}
											
{BEGIN di_fecha_asigacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_fecha_asigacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_fecha_asigacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="di_fecha_asigacion" data-fieldname="di_fecha_asigacion" >


	<label class="r-search-label control-label" for="{$labelfor_di_fecha_asigacion}">
		{$label Mi_inventario di_fecha_asigacion }	</label>
	<div class="r-search-option">
		{$searchtype_di_fecha_asigacion}
	</div>
	<div class="r-search-field">
		{$di_fecha_asigacion_editcontrol}	</div>
	<div class="r-search-field">
		{$di_fecha_asigacion_editcontrol1}
	</div>
	
</div>

{END di_fecha_asigacion_fieldblock}
											
{BEGIN alelemdevolutivo_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alelemdevolutivo_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alelemdevolutivo_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="alelemdevolutivo_id_fk" data-fieldname="alelemdevolutivo_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_alelemdevolutivo_id_fk}">
		{$label Mi_inventario alelemdevolutivo_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_alelemdevolutivo_id_fk}
	</div>
	<div class="r-search-field">
		{$alelemdevolutivo_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$alelemdevolutivo_id_fk_editcontrol1}
	</div>
	
</div>

{END alelemdevolutivo_id_fk_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
