<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel q_global_enservicio search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN aldevindiv_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_aldevindiv_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="aldevindiv_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="aldevindiv_id" data-fieldname="aldevindiv_id" >


	<label class="r-search-label control-label" for="{$labelfor_aldevindiv_id}">
		{$label q_global_enservicio aldevindiv_id }	</label>
	<div class="r-search-option">
		{$searchtype_aldevindiv_id}
	</div>
	<div class="r-search-field">
		{$aldevindiv_id_editcontrol}	</div>
	<div class="r-search-field">
		{$aldevindiv_id_editcontrol1}
	</div>
	
</div>

{END aldevindiv_id_fieldblock}
											
{BEGIN almovinddia_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_almovinddia_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="almovinddia_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="almovinddia_id" data-fieldname="almovinddia_id" >


	<label class="r-search-label control-label" for="{$labelfor_almovinddia_id}">
		{$label q_global_enservicio almovinddia_id }	</label>
	<div class="r-search-option">
		{$searchtype_almovinddia_id}
	</div>
	<div class="r-search-field">
		{$almovinddia_id_editcontrol}	</div>
	<div class="r-search-field">
		{$almovinddia_id_editcontrol1}
	</div>
	
</div>

{END almovinddia_id_fieldblock}
											
{BEGIN ca_nomcuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ca_nomcuenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ca_nomcuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ca_nomcuenta" data-fieldname="ca_nomcuenta" >


	<label class="r-search-label control-label" for="{$labelfor_ca_nomcuenta}">
		{$label q_global_enservicio ca_nomcuenta }	</label>
	<div class="r-search-option">
		{$searchtype_ca_nomcuenta}
	</div>
	<div class="r-search-field">
		{$ca_nomcuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$ca_nomcuenta_editcontrol1}
	</div>
	
</div>

{END ca_nomcuenta_fieldblock}
											
{BEGIN cod_cta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cod_cta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cod_cta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="cod_cta" data-fieldname="cod_cta" >


	<label class="r-search-label control-label" for="{$labelfor_cod_cta}">
		{$label q_global_enservicio cod_cta }	</label>
	<div class="r-search-option">
		{$searchtype_cod_cta}
	</div>
	<div class="r-search-field">
		{$cod_cta_editcontrol}	</div>
	<div class="r-search-field">
		{$cod_cta_editcontrol1}
	</div>
	
</div>

{END cod_cta_fieldblock}
											
{BEGIN di_fechacompra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_fechacompra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_fechacompra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="di_fechacompra" data-fieldname="di_fechacompra" >


	<label class="r-search-label control-label" for="{$labelfor_di_fechacompra}">
		{$label q_global_enservicio di_fechacompra }	</label>
	<div class="r-search-option">
		{$searchtype_di_fechacompra}
	</div>
	<div class="r-search-field">
		{$di_fechacompra_editcontrol}	</div>
	<div class="r-search-field">
		{$di_fechacompra_editcontrol1}
	</div>
	
</div>

{END di_fechacompra_fieldblock}
											
{BEGIN di_nroplaca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroplaca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_nroplaca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="di_nroplaca" data-fieldname="di_nroplaca" >


	<label class="r-search-label control-label" for="{$labelfor_di_nroplaca}">
		{$label q_global_enservicio di_nroplaca }	</label>
	<div class="r-search-option">
		{$searchtype_di_nroplaca}
	</div>
	<div class="r-search-field">
		{$di_nroplaca_editcontrol}	</div>
	<div class="r-search-field">
		{$di_nroplaca_editcontrol1}
	</div>
	
</div>

{END di_nroplaca_fieldblock}
											
{BEGIN di_nroplacastma_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroplacastma}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_nroplacastma{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="di_nroplacastma" data-fieldname="di_nroplacastma" >


	<label class="r-search-label control-label" for="{$labelfor_di_nroplacastma}">
		{$label q_global_enservicio di_nroplacastma }	</label>
	<div class="r-search-option">
		{$searchtype_di_nroplacastma}
	</div>
	<div class="r-search-field">
		{$di_nroplacastma_editcontrol}	</div>
	<div class="r-search-field">
		{$di_nroplacastma_editcontrol1}
	</div>
	
</div>

{END di_nroplacastma_fieldblock}
											
{BEGIN di_nroserie_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_nroserie}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_nroserie{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="di_nroserie" data-fieldname="di_nroserie" >


	<label class="r-search-label control-label" for="{$labelfor_di_nroserie}">
		{$label q_global_enservicio di_nroserie }	</label>
	<div class="r-search-option">
		{$searchtype_di_nroserie}
	</div>
	<div class="r-search-field">
		{$di_nroserie_editcontrol}	</div>
	<div class="r-search-field">
		{$di_nroserie_editcontrol1}
	</div>
	
</div>

{END di_nroserie_fieldblock}
											
{BEGIN di_ubica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_ubica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_ubica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="di_ubica" data-fieldname="di_ubica" >


	<label class="r-search-label control-label" for="{$labelfor_di_ubica}">
		{$label q_global_enservicio di_ubica }	</label>
	<div class="r-search-option">
		{$searchtype_di_ubica}
	</div>
	<div class="r-search-field">
		{$di_ubica_editcontrol}	</div>
	<div class="r-search-field">
		{$di_ubica_editcontrol1}
	</div>
	
</div>

{END di_ubica_fieldblock}
											
{BEGIN di_valorcompra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_valorcompra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_valorcompra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="di_valorcompra" data-fieldname="di_valorcompra" >


	<label class="r-search-label control-label" for="{$labelfor_di_valorcompra}">
		{$label q_global_enservicio di_valorcompra }	</label>
	<div class="r-search-option">
		{$searchtype_di_valorcompra}
	</div>
	<div class="r-search-field">
		{$di_valorcompra_editcontrol}	</div>
	<div class="r-search-field">
		{$di_valorcompra_editcontrol1}
	</div>
	
</div>

{END di_valorcompra_fieldblock}
											
{BEGIN di_valorultmovto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_di_valorultmovto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="di_valorultmovto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="di_valorultmovto" data-fieldname="di_valorultmovto" >


	<label class="r-search-label control-label" for="{$labelfor_di_valorultmovto}">
		{$label q_global_enservicio di_valorultmovto }	</label>
	<div class="r-search-option">
		{$searchtype_di_valorultmovto}
	</div>
	<div class="r-search-field">
		{$di_valorultmovto_editcontrol}	</div>
	<div class="r-search-field">
		{$di_valorultmovto_editcontrol1}
	</div>
	
</div>

{END di_valorultmovto_fieldblock}
											
{BEGIN dialmacen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dialmacen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dialmacen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="dialmacen" data-fieldname="dialmacen" >


	<label class="r-search-label control-label" for="{$labelfor_dialmacen}">
		{$label q_global_enservicio dialmacen }	</label>
	<div class="r-search-option">
		{$searchtype_dialmacen}
	</div>
	<div class="r-search-field">
		{$dialmacen_editcontrol}	</div>
	<div class="r-search-field">
		{$dialmacen_editcontrol1}
	</div>
	
</div>

{END dialmacen_fieldblock}
											
{BEGIN dicodelem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dicodelem}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dicodelem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="dicodelem" data-fieldname="dicodelem" >


	<label class="r-search-label control-label" for="{$labelfor_dicodelem}">
		{$label q_global_enservicio dicodelem }	</label>
	<div class="r-search-option">
		{$searchtype_dicodelem}
	</div>
	<div class="r-search-field">
		{$dicodelem_editcontrol}	</div>
	<div class="r-search-field">
		{$dicodelem_editcontrol1}
	</div>
	
</div>

{END dicodelem_fieldblock}
											
{BEGIN dicuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dicuenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dicuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="dicuenta" data-fieldname="dicuenta" >


	<label class="r-search-label control-label" for="{$labelfor_dicuenta}">
		{$label q_global_enservicio dicuenta }	</label>
	<div class="r-search-option">
		{$searchtype_dicuenta}
	</div>
	<div class="r-search-field">
		{$dicuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$dicuenta_editcontrol1}
	</div>
	
</div>

{END dicuenta_fieldblock}
											
{BEGIN difuncionario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_difuncionario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="difuncionario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="difuncionario" data-fieldname="difuncionario" >


	<label class="r-search-label control-label" for="{$labelfor_difuncionario}">
		{$label q_global_enservicio difuncionario }	</label>
	<div class="r-search-option">
		{$searchtype_difuncionario}
	</div>
	<div class="r-search-field">
		{$difuncionario_editcontrol}	</div>
	<div class="r-search-field">
		{$difuncionario_editcontrol1}
	</div>
	
</div>

{END difuncionario_fieldblock}
											
{BEGIN ed_nomelemento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ed_nomelemento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ed_nomelemento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="ed_nomelemento" data-fieldname="ed_nomelemento" >


	<label class="r-search-label control-label" for="{$labelfor_ed_nomelemento}">
		{$label q_global_enservicio ed_nomelemento }	</label>
	<div class="r-search-option">
		{$searchtype_ed_nomelemento}
	</div>
	<div class="r-search-field">
		{$ed_nomelemento_editcontrol}	</div>
	<div class="r-search-field">
		{$ed_nomelemento_editcontrol1}
	</div>
	
</div>

{END ed_nomelemento_fieldblock}
											
{BEGIN edmarca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edmarca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edmarca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="edmarca" data-fieldname="edmarca" >


	<label class="r-search-label control-label" for="{$labelfor_edmarca}">
		{$label q_global_enservicio edmarca }	</label>
	<div class="r-search-option">
		{$searchtype_edmarca}
	</div>
	<div class="r-search-field">
		{$edmarca_editcontrol}	</div>
	<div class="r-search-field">
		{$edmarca_editcontrol1}
	</div>
	
</div>

{END edmarca_fieldblock}
											
{BEGIN edunidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edunidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edunidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="edunidad" data-fieldname="edunidad" >


	<label class="r-search-label control-label" for="{$labelfor_edunidad}">
		{$label q_global_enservicio edunidad }	</label>
	<div class="r-search-option">
		{$searchtype_edunidad}
	</div>
	<div class="r-search-field">
		{$edunidad_editcontrol}	</div>
	<div class="r-search-field">
		{$edunidad_editcontrol1}
	</div>
	
</div>

{END edunidad_fieldblock}
											
{BEGIN func_dep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_func_dep}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="func_dep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="func_dep" data-fieldname="func_dep" >


	<label class="r-search-label control-label" for="{$labelfor_func_dep}">
		{$label q_global_enservicio func_dep }	</label>
	<div class="r-search-option">
		{$searchtype_func_dep}
	</div>
	<div class="r-search-field">
		{$func_dep_editcontrol}	</div>
	<div class="r-search-field">
		{$func_dep_editcontrol1}
	</div>
	
</div>

{END func_dep_fieldblock}
											
{BEGIN func_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_func_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="func_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="func_email" data-fieldname="func_email" >


	<label class="r-search-label control-label" for="{$labelfor_func_email}">
		{$label q_global_enservicio func_email }	</label>
	<div class="r-search-option">
		{$searchtype_func_email}
	</div>
	<div class="r-search-field">
		{$func_email_editcontrol}	</div>
	<div class="r-search-field">
		{$func_email_editcontrol1}
	</div>
	
</div>

{END func_email_fieldblock}
											
{BEGIN func_nombres_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_func_nombres}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="func_nombres{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="func_nombres" data-fieldname="func_nombres" >


	<label class="r-search-label control-label" for="{$labelfor_func_nombres}">
		{$label q_global_enservicio func_nombres }	</label>
	<div class="r-search-option">
		{$searchtype_func_nombres}
	</div>
	<div class="r-search-field">
		{$func_nombres_editcontrol}	</div>
	<div class="r-search-field">
		{$func_nombres_editcontrol1}
	</div>
	
</div>

{END func_nombres_fieldblock}
											
{BEGIN func_tipovinc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_func_tipovinc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="func_tipovinc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="func_tipovinc" data-fieldname="func_tipovinc" >


	<label class="r-search-label control-label" for="{$labelfor_func_tipovinc}">
		{$label q_global_enservicio func_tipovinc }	</label>
	<div class="r-search-option">
		{$searchtype_func_tipovinc}
	</div>
	<div class="r-search-field">
		{$func_tipovinc_editcontrol}	</div>
	<div class="r-search-field">
		{$func_tipovinc_editcontrol1}
	</div>
	
</div>

{END func_tipovinc_fieldblock}
											
{BEGIN idusrglobal_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idusrglobal_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idusrglobal_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="idusrglobal_fk" data-fieldname="idusrglobal_fk" >


	<label class="r-search-label control-label" for="{$labelfor_idusrglobal_fk}">
		{$label q_global_enservicio idusrglobal_fk }	</label>
	<div class="r-search-option">
		{$searchtype_idusrglobal_fk}
	</div>
	<div class="r-search-field">
		{$idusrglobal_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$idusrglobal_fk_editcontrol1}
	</div>
	
</div>

{END idusrglobal_fk_fieldblock}
											
{BEGIN ma_nommarca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ma_nommarca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ma_nommarca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="ma_nommarca" data-fieldname="ma_nommarca" >


	<label class="r-search-label control-label" for="{$labelfor_ma_nommarca}">
		{$label q_global_enservicio ma_nommarca }	</label>
	<div class="r-search-option">
		{$searchtype_ma_nommarca}
	</div>
	<div class="r-search-field">
		{$ma_nommarca_editcontrol}	</div>
	<div class="r-search-field">
		{$ma_nommarca_editcontrol1}
	</div>
	
</div>

{END ma_nommarca_fieldblock}
											
{BEGIN mod_trasnporte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mod_trasnporte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mod_trasnporte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="mod_trasnporte" data-fieldname="mod_trasnporte" >


	<label class="r-search-label control-label" for="{$labelfor_mod_trasnporte}">
		{$label q_global_enservicio mod_trasnporte }	</label>
	<div class="r-search-option">
		{$searchtype_mod_trasnporte}
	</div>
	<div class="r-search-field">
		{$mod_trasnporte_editcontrol}	</div>
	<div class="r-search-field">
		{$mod_trasnporte_editcontrol1}
	</div>
	
</div>

{END mod_trasnporte_fieldblock}
											
{BEGIN nicsp_basedepreciable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_basedepreciable}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_basedepreciable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="nicsp_basedepreciable" data-fieldname="nicsp_basedepreciable" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_basedepreciable}">
		{$label q_global_enservicio nicsp_basedepreciable }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_basedepreciable}
	</div>
	<div class="r-search-field">
		{$nicsp_basedepreciable_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_basedepreciable_editcontrol1}
	</div>
	
</div>

{END nicsp_basedepreciable_fieldblock}
											
{BEGIN nicsp_codigo_ppe_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_codigo_ppe}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_codigo_ppe{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="nicsp_codigo_ppe" data-fieldname="nicsp_codigo_ppe" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_codigo_ppe}">
		{$label q_global_enservicio nicsp_codigo_ppe }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_codigo_ppe}
	</div>
	<div class="r-search-field">
		{$nicsp_codigo_ppe_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_codigo_ppe_editcontrol1}
	</div>
	
</div>

{END nicsp_codigo_ppe_fieldblock}
											
{BEGIN nicsp_costo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_costo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_costo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="nicsp_costo" data-fieldname="nicsp_costo" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_costo}">
		{$label q_global_enservicio nicsp_costo }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_costo}
	</div>
	<div class="r-search-field">
		{$nicsp_costo_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_costo_editcontrol1}
	</div>
	
</div>

{END nicsp_costo_fieldblock}
											
{BEGIN nicsp_costodesmant_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_costodesmant}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_costodesmant{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="nicsp_costodesmant" data-fieldname="nicsp_costodesmant" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_costodesmant}">
		{$label q_global_enservicio nicsp_costodesmant }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_costodesmant}
	</div>
	<div class="r-search-field">
		{$nicsp_costodesmant_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_costodesmant_editcontrol1}
	</div>
	
</div>

{END nicsp_costodesmant_fieldblock}
											
{BEGIN nicsp_depreciaacumulada_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_depreciaacumulada}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_depreciaacumulada{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="nicsp_depreciaacumulada" data-fieldname="nicsp_depreciaacumulada" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_depreciaacumulada}">
		{$label q_global_enservicio nicsp_depreciaacumulada }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_depreciaacumulada}
	</div>
	<div class="r-search-field">
		{$nicsp_depreciaacumulada_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_depreciaacumulada_editcontrol1}
	</div>
	
</div>

{END nicsp_depreciaacumulada_fieldblock}
											
{BEGIN nicsp_depreciamensual_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_depreciamensual}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_depreciamensual{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="nicsp_depreciamensual" data-fieldname="nicsp_depreciamensual" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_depreciamensual}">
		{$label q_global_enservicio nicsp_depreciamensual }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_depreciamensual}
	</div>
	<div class="r-search-field">
		{$nicsp_depreciamensual_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_depreciamensual_editcontrol1}
	</div>
	
</div>

{END nicsp_depreciamensual_fieldblock}
											
{BEGIN nicsp_dias_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_dias}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_dias{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="nicsp_dias" data-fieldname="nicsp_dias" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_dias}">
		{$label q_global_enservicio nicsp_dias }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_dias}
	</div>
	<div class="r-search-field">
		{$nicsp_dias_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_dias_editcontrol1}
	</div>
	
</div>

{END nicsp_dias_fieldblock}
											
{BEGIN nicsp_fechacorte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_fechacorte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_fechacorte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="nicsp_fechacorte" data-fieldname="nicsp_fechacorte" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_fechacorte}">
		{$label q_global_enservicio nicsp_fechacorte }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_fechacorte}
	</div>
	<div class="r-search-field">
		{$nicsp_fechacorte_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_fechacorte_editcontrol1}
	</div>
	
</div>

{END nicsp_fechacorte_fieldblock}
											
{BEGIN nicsp_meses_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_meses}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_meses{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="nicsp_meses" data-fieldname="nicsp_meses" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_meses}">
		{$label q_global_enservicio nicsp_meses }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_meses}
	</div>
	<div class="r-search-field">
		{$nicsp_meses_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_meses_editcontrol1}
	</div>
	
</div>

{END nicsp_meses_fieldblock}
											
{BEGIN nicsp_politicamaterialidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_politicamaterialidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_politicamaterialidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="nicsp_politicamaterialidad" data-fieldname="nicsp_politicamaterialidad" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_politicamaterialidad}">
		{$label q_global_enservicio nicsp_politicamaterialidad }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_politicamaterialidad}
	</div>
	<div class="r-search-field">
		{$nicsp_politicamaterialidad_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_politicamaterialidad_editcontrol1}
	</div>
	
</div>

{END nicsp_politicamaterialidad_fieldblock}
											
{BEGIN nicsp_valordeterioro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_valordeterioro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_valordeterioro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="nicsp_valordeterioro" data-fieldname="nicsp_valordeterioro" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_valordeterioro}">
		{$label q_global_enservicio nicsp_valordeterioro }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_valordeterioro}
	</div>
	<div class="r-search-field">
		{$nicsp_valordeterioro_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_valordeterioro_editcontrol1}
	</div>
	
</div>

{END nicsp_valordeterioro_fieldblock}
											
{BEGIN nicsp_valorresidual_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_valorresidual}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_valorresidual{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="nicsp_valorresidual" data-fieldname="nicsp_valorresidual" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_valorresidual}">
		{$label q_global_enservicio nicsp_valorresidual }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_valorresidual}
	</div>
	<div class="r-search-field">
		{$nicsp_valorresidual_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_valorresidual_editcontrol1}
	</div>
	
</div>

{END nicsp_valorresidual_fieldblock}
											
{BEGIN nicsp_vidautil_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_vidautil}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_vidautil{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="nicsp_vidautil" data-fieldname="nicsp_vidautil" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_vidautil}">
		{$label q_global_enservicio nicsp_vidautil }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_vidautil}
	</div>
	<div class="r-search-field">
		{$nicsp_vidautil_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_vidautil_editcontrol1}
	</div>
	
</div>

{END nicsp_vidautil_fieldblock}
											
{BEGIN nicsp_vigenciapm_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_vigenciapm}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_vigenciapm{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="nicsp_vigenciapm" data-fieldname="nicsp_vigenciapm" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_vigenciapm}">
		{$label q_global_enservicio nicsp_vigenciapm }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_vigenciapm}
	</div>
	<div class="r-search-field">
		{$nicsp_vigenciapm_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_vigenciapm_editcontrol1}
	</div>
	
</div>

{END nicsp_vigenciapm_fieldblock}
											
{BEGIN nicsp_vnl_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nicsp_vnl}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nicsp_vnl{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="nicsp_vnl" data-fieldname="nicsp_vnl" >


	<label class="r-search-label control-label" for="{$labelfor_nicsp_vnl}">
		{$label q_global_enservicio nicsp_vnl }	</label>
	<div class="r-search-option">
		{$searchtype_nicsp_vnl}
	</div>
	<div class="r-search-field">
		{$nicsp_vnl_editcontrol}	</div>
	<div class="r-search-field">
		{$nicsp_vnl_editcontrol1}
	</div>
	
</div>

{END nicsp_vnl_fieldblock}
											
{BEGIN Observaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Observaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >


	<label class="r-search-label control-label" for="{$labelfor_Observaciones}">
		{$label q_global_enservicio Observaciones }	</label>
	<div class="r-search-option">
		{$searchtype_Observaciones}
	</div>
	<div class="r-search-field">
		{$Observaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$Observaciones_editcontrol1}
	</div>
	
</div>

{END Observaciones_fieldblock}
											
{BEGIN sys_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="sys_date" data-fieldname="sys_date" >


	<label class="r-search-label control-label" for="{$labelfor_sys_date}">
		{$label q_global_enservicio sys_date }	</label>
	<div class="r-search-option">
		{$searchtype_sys_date}
	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol1}
	</div>
	
</div>

{END sys_date_fieldblock}
											
{BEGIN sys_sts_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_sts}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_sts{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="sys_sts" data-fieldname="sys_sts" >


	<label class="r-search-label control-label" for="{$labelfor_sys_sts}">
		{$label q_global_enservicio sys_sts }	</label>
	<div class="r-search-option">
		{$searchtype_sys_sts}
	</div>
	<div class="r-search-field">
		{$sys_sts_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_sts_editcontrol1}
	</div>
	
</div>

{END sys_sts_fieldblock}
											
{BEGIN sys_time_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_time}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_time{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="sys_time" data-fieldname="sys_time" >


	<label class="r-search-label control-label" for="{$labelfor_sys_time}">
		{$label q_global_enservicio sys_time }	</label>
	<div class="r-search-option">
		{$searchtype_sys_time}
	</div>
	<div class="r-search-field">
		{$sys_time_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_time_editcontrol1}
	</div>
	
</div>

{END sys_time_fieldblock}
											
{BEGIN sys_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" >


	<label class="r-search-label control-label" for="{$labelfor_sys_user}">
		{$label q_global_enservicio sys_user }	</label>
	<div class="r-search-option">
		{$searchtype_sys_user}
	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol1}
	</div>
	
</div>

{END sys_user_fieldblock}
											
{BEGIN upd_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_upd_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="upd_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="upd_date" data-fieldname="upd_date" >


	<label class="r-search-label control-label" for="{$labelfor_upd_date}">
		{$label q_global_enservicio upd_date }	</label>
	<div class="r-search-option">
		{$searchtype_upd_date}
	</div>
	<div class="r-search-field">
		{$upd_date_editcontrol}	</div>
	<div class="r-search-field">
		{$upd_date_editcontrol1}
	</div>
	
</div>

{END upd_date_fieldblock}
											
{BEGIN upd_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_upd_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="upd_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="upd_status" data-fieldname="upd_status" >


	<label class="r-search-label control-label" for="{$labelfor_upd_status}">
		{$label q_global_enservicio upd_status }	</label>
	<div class="r-search-option">
		{$searchtype_upd_status}
	</div>
	<div class="r-search-field">
		{$upd_status_editcontrol}	</div>
	<div class="r-search-field">
		{$upd_status_editcontrol1}
	</div>
	
</div>

{END upd_status_fieldblock}
											
{BEGIN upd_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_upd_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="upd_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field47" {$item_integrated_search_field47} data-pageid="{$pageid}" data-field="upd_user" data-fieldname="upd_user" >


	<label class="r-search-label control-label" for="{$labelfor_upd_user}">
		{$label q_global_enservicio upd_user }	</label>
	<div class="r-search-option">
		{$searchtype_upd_user}
	</div>
	<div class="r-search-field">
		{$upd_user_editcontrol}	</div>
	<div class="r-search-field">
		{$upd_user_editcontrol1}
	</div>
	
</div>

{END upd_user_fieldblock}
											
{BEGIN verifica_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_verifica_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="verifica_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field48" {$item_integrated_search_field48} data-pageid="{$pageid}" data-field="verifica_date" data-fieldname="verifica_date" >


	<label class="r-search-label control-label" for="{$labelfor_verifica_date}">
		{$label q_global_enservicio verifica_date }	</label>
	<div class="r-search-option">
		{$searchtype_verifica_date}
	</div>
	<div class="r-search-field">
		{$verifica_date_editcontrol}	</div>
	<div class="r-search-field">
		{$verifica_date_editcontrol1}
	</div>
	
</div>

{END verifica_date_fieldblock}
											
{BEGIN verifica_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_verifica_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="verifica_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="verifica_status" data-fieldname="verifica_status" >


	<label class="r-search-label control-label" for="{$labelfor_verifica_status}">
		{$label q_global_enservicio verifica_status }	</label>
	<div class="r-search-option">
		{$searchtype_verifica_status}
	</div>
	<div class="r-search-field">
		{$verifica_status_editcontrol}	</div>
	<div class="r-search-field">
		{$verifica_status_editcontrol1}
	</div>
	
</div>

{END verifica_status_fieldblock}
											
{BEGIN verifica_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_verifica_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="verifica_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field50" {$item_integrated_search_field50} data-pageid="{$pageid}" data-field="verifica_user" data-fieldname="verifica_user" >


	<label class="r-search-label control-label" for="{$labelfor_verifica_user}">
		{$label q_global_enservicio verifica_user }	</label>
	<div class="r-search-option">
		{$searchtype_verifica_user}
	</div>
	<div class="r-search-field">
		{$verifica_user_editcontrol}	</div>
	<div class="r-search-field">
		{$verifica_user_editcontrol1}
	</div>
	
</div>

{END verifica_user_fieldblock}
											
{BEGIN VRMEJORA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VRMEJORA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="VRMEJORA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field51" {$item_integrated_search_field51} data-pageid="{$pageid}" data-field="VRMEJORA" data-fieldname="VRMEJORA" >


	<label class="r-search-label control-label" for="{$labelfor_VRMEJORA}">
		{$label q_global_enservicio VRMEJORA }	</label>
	<div class="r-search-option">
		{$searchtype_VRMEJORA}
	</div>
	<div class="r-search-field">
		{$VRMEJORA_editcontrol}	</div>
	<div class="r-search-field">
		{$VRMEJORA_editcontrol1}
	</div>
	
</div>

{END VRMEJORA_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
